
/* Call to Action 01 */
.call-01{width:100%; padding:.625rem 0 1.5rem 0;}
.call-01 .contents{width:100%; display:flex; align-items:center; justify-content:center;}
.call-01 .content{margin:1rem 0 0 0;}
.call-01 .content:first-child{margin:.875rem 1.5rem 0 0; text-align:right;}
.call-01 .content h4{line-height:1; font-size:2.125rem; font-weight:300;}
.call-01 .content p{line-height:1;}
@media screen and (max-width:575.98px){
    .call-01 .contents{flex-wrap:wrap;}
    .call-01 .content, .call-01 .content:first-child{
        width:100%; margin:.875rem 0 0 0; text-align:center;
    }
}


/* Client 01 */
.client-01 .slide{position:relative;}
.client-01 .slide:first-child::before, .client-01 .slide::after{
    content:''; position:absolute; top:0; bottom:0; width:1px;
}
.client-01 .wrapper{
    display:block; width:100%; padding:.25rem .5rem .5rem .5rem; transition:opacity .25s;
}
.client-01 .wrapper:hover{opacity:.75;}
.client-01 .slide:first-child > .wrapper::before{left:-.5px;}
.client-01 .wrapper::after{right:.5px;}
.client-01 .img-container{display:block; position:relative; width:100%; padding:40% 0 0 0;}
.client-01 .img-wrapper{
    position:absolute; top:0; bottom:0; left:0; right:0; display:flex; align-items:center;
    justify-content:center;
}
.client-01 img{display:block; width:auto; max-width:80%; height:auto; max-height:80%;}
.client-01 p{font-size:1.0625rem; line-height:1; text-align:center; height:2.125rem;}
.client-01 .slide-container .arrows button{opacity:0;}
.client-01 .slide-container .arrows button.slick-prev{transform:translateX(-2.25rem);}
.client-01 .slide-container .arrows button.slick-next{transform:translateX(2.25rem);}
.client-01 .slide-container:hover .arrows button{opacity:1;}
.client-01 .slide-container:hover .arrows button.slick-prev{transform:translateX(-1.5rem);}
.client-01 .slide-container:hover .arrows button.slick-next{transform:translateX(1.5rem);}
