
/* About 01 */
.about-01{position:relative; width:100%;}
.about-01 .slide > img{display:block; width:100%; height:auto;}
.about-01 .tab-icons{width:100%; display:flex; flex-wrap:wrap;}
.about-01 .tab-icon{
    display:block; width:5.5rem; text-align:center; font-size:1.25rem; margin:.5rem 0 0 0;
    white-space:nowrap;
}
.about-01 .tab-icon.active{font-weight:600;}
.about-01 .tab-icon .icon{
    position:relative; display:block; width:4.75rem; margin:0 auto .3125rem auto;
}
.about-01 .tab-icon .icon > img{display:block; width:100%; height:auto;}
.about-01 .tab-icon .icon > img.icon-active{
    position:absolute; top:0; left:0; opacity:0; transition:opacity .25s;
}
.about-01 .tab-icon:hover .icon > img.icon-active,
.about-01 .tab-icon.active .icon > img.icon-active{opacity:1;}
@media screen and (max-width:1199.98px){
    .about-01 .section-padding, .about-01 .section-bpadding{padding-bottom:2.25rem;}
    .about-01 .tab-icons{margin:1.75rem 0 0 0;}
}
@media screen and (max-width:991.98px){
    .about-01 .section-padding, .about-01 .section-bpadding{padding-bottom:2rem;}
    .about-01 .tab-icons{margin:1.5rem 0 0 0;}
}


/* About 02 */
.about-02 .about-container{position:relative; padding:0 1rem 0 4.25rem;}
.about-02 .about-container > .about-header{
    position:relative; padding:1.125rem 14.5rem 1.125rem 0; cursor:pointer; z-index:1;
    transition:padding .6s;
}
.about-02 .about-container.active > .about-header{padding:1.125rem 0;}
.about-02 .about-container > .about-tag{
    position:absolute; top:1rem; right:1rem; pointer-events:none; display:flex; align-items:center;
    transition:opacity .6s;
}
.about-02 .about-container.active > .about-tag{opacity:0;}
.about-02 .about-container > .about-body{width:100%; padding:0 10rem 1.75rem 0; overflow:hidden;}
.about-02 .about-container .about-side{
    position:absolute; top:0; bottom:0; right:0; width:16rem; display:flex; align-items:center;
    clip-path:polygon(60% 0, 100% 0, 100% 100%, 60% 100%, 26% 50%); opacity:0;
    justify-content:flex-end; padding:1rem 1rem 1rem 3rem; transition:opacity .3s;
}
.about-02 .about-container.active .about-side{opacity:1;}
.about-02 .about-container .about-side > .text-container{width:100%; text-align:right;}

.about-02 .about-container .date{
    display:block; position:absolute; top:0; left:-4.25rem; text-align:center;
    padding:.375rem .25rem; width:3.25rem;
}
.about-02 .about-container .date > .d{
    border-bottom:1px solid transparent; font-size:2rem; font-weight:400; line-height:.9;
}
.about-02 .about-container .date > .m{font-weight:100; font-size:1.0625rem;}
.about-02 .about-container .prefix{transition:font-size .6s;}
.about-02 .about-container:not(.active) .prefix{font-size:0;}
.about-02 .about-container .title{transition:font-size .6s, color .6s;}
.about-02 .about-container:not(.active) .title{font-size:1.5rem;}
.about-02 .about-container > .about-tag .icon{
    border:3px solid transparent; font-size:1.25rem; text-align:center;
    display:block; width:1.75rem; height:1.75rem; line-height:1.375rem;
    padding:0; margin:0 0 0 .75rem;
}

@media screen and (max-width:1199.98px){
    .about-02 .about-container > .about-body{padding:0 0 1.75rem 0;}
    .about-02 .about-container .about-side{
        position:relative; top:auto; bottom:auto; right:auto; width:100%; display:block;
        padding:.75rem 1rem; margin:1.5rem 0 0 0; clip-path:none;
    }
    .about-02 .about-container .about-side > .text-container{text-align:left;}
}
@media screen and (max-width:767.98px){
    .about-02 .about-container > .about-header{padding:1.125rem 0 3.625rem 0;}
    .about-02 .about-container.active > .about-header{padding:1.125rem 0;}
    .about-02 .about-container > .about-tag{top:auto; right:auto; transform:translateY(-2.875rem);}
}


/* Banner 01 */
.banner-01{position:relative; width:100%;}
.banner-01 .slide > .wrapper{
    position:relative; width:100%; height:620px; display:flex; align-items:center;
    clip-path:polygon(0% 0%, 100% 0%, 100% 80%, 100% 100%, 50% 100%, 0% 100%, 0% 80%);
    overflow:hidden; transition:clip-path .9s;
}
.banner-01 .slide.slick-current > .wrapper{
    clip-path:polygon(0% 0%, 100% 0%, 100% 80%, 100% 80%, 50% 100%, 0% 80%, 0% 80%);
    transition-delay:.6s;
}
.loading .banner-01 .slide.slick-current > .wrapper{
    clip-path:polygon(0% 0%, 100% 0%, 100% 80%, 100% 100%, 50% 100%, 0% 100%, 0% 80%);
}
.banner-01 .slide .img-bg{transform:scale(1.2); transition:transform linear .9s;}
.banner-01 .slide.slick-current .img-bg{
    transform:scale(1); transition-duration:14s; transition-delay:.6s;
}
.loading .banner-01 .slide.slick-current .img-bg{transform:scale(1.2);}
@media screen and (max-width:1299.98px){
    .banner-01 .slide > .wrapper{height:560px}
}
@media screen and (max-width:1199.98px){
    .banner-01 .slide > .wrapper{height:500px}
}
@media screen and (max-width:991.98px){
    .banner-01 .slide > .wrapper{height:420px}
}
@media screen and (max-width:767.98px){
    .banner-01 .slide > .wrapper{height:320px}
}
@media screen and (max-width:575.98px){
    .banner-01 .slide > .wrapper{height:260px}
}


/* Breadcrumb 01 */
.breadcrumb-01{display:block; position:absolute; width:100%; padding:1rem 0; z-index:1;}
.breadcrumb-01 > .container{position:relative;}
.breadcrumb-01 .wrapper{width:100%; display:flex; align-items:center; flex-wrap:wrap;}
.breadcrumb-01 a{
    display:block; white-space:nowrap; margin:.125rem .6875rem .125rem 0; font-size:1.25rem;
    line-height:1;
}
.breadcrumb-01 a:last-child{margin-right:0; font-weight:600;}
.breadcrumb-01 a.icon{
    width:1.0625rem; height:1.0625rem; line-height:1.375rem; text-align:center; font-size:.75rem;
}
.breadcrumb-01 a.text i{font-size:1rem; margin:0 .1875rem 0 0;}


/* Call to Action 01 */
.call-01{width:100%; padding:.625rem 0 1.5rem 0;}
.call-01 .contents{width:100%; display:flex; align-items:center; justify-content:center;}
.call-01 .content{margin:1rem 0 0 0;}
.call-01 .content:first-child{margin:.875rem 1.5rem 0 0; text-align:right;}
.call-01 .content h4{line-height:1; font-size:2.125rem; font-weight:300;}
.call-01 .content p{line-height:1;}
@media screen and (max-width:575.98px){
    .call-01 .contents{flex-wrap:wrap;}
    .call-01 .content, .call-01 .content:first-child{
        width:100%; margin:.875rem 0 0 0; text-align:center;
    }
}


/* Call to Action 02 */
.call-02{margin:1rem 0 3rem 0;}
.call-02 .content{
    position:relative; display:flex; align-items:center; width:100%; height:320px;
}
.call-02 .content .img-bg{
    position:absolute; top:0; bottom:0; background-size:cover; background-position:center;
    width:50vw;
}
.call-02 .grid:nth-child(2n+1) .content{padding:2rem 2.5rem 2rem 0;}
.call-02 .grid:nth-child(2n) .content{padding:2rem 0 2rem 2.5rem;}
.call-02 .grid:nth-child(2n+1) .img-bg{right:0;}
.call-02 .grid:nth-child(2n) .img-bg{left:0;}
.call-02 .text-wrapper{position:relative;}
@media screen and (max-width:1199.98px){
    .call-02{margin:.5rem 0 2.5rem 0;}
}
@media screen and (max-width:991.98px){
    .call-02{margin:.5rem 0 2rem 0;}
    .call-02 .content{height:280px;}
    .call-02 .grid:nth-child(2n+1) .content, .call-02 .grid:nth-child(2n) .content{padding:2rem 0;}
    .call-02 .grid:nth-child(2n+1) .img-bg, .call-02 .grid:nth-child(2n) .img-bg{
        left:calc(50% - 50vw); right:calc(50% - 50vw); width:100vw;
    }
}
@media screen and (max-width:767.98px){
    .call-02 .content{height:240px;}
}
@media screen and (max-width:575.98px){
    .call-02 .content{height:200px;}
}


/* Call to Action 03 */
.call-03 .text-container{width:100%; max-width:28rem;}
.call-03 img.hero{display:block; width:10rem; height:auto; margin:2.25rem auto 0 auto;}


/* Client 01 */
.client-01 .slide{position:relative;}
.client-01 .slide:first-child::before, .client-01 .slide::after{
    content:''; position:absolute; top:0; bottom:0; width:1px;
}
.client-01 .wrapper{
    display:block; width:100%; padding:.25rem .5rem .5rem .5rem; transition:opacity .25s;
}
.client-01 .wrapper:hover{opacity:.75;}
.client-01 .slide:first-child > .wrapper::before{left:-.5px;}
.client-01 .wrapper::after{right:.5px;}
.client-01 .img-container{display:block; position:relative; width:100%; padding:40% 0 0 0;}
.client-01 .img-wrapper{
    position:absolute; top:0; bottom:0; left:0; right:0; display:flex; align-items:center;
    justify-content:center;
}
.client-01 img{display:block; width:auto; max-width:80%; height:auto; max-height:80%;}
.client-01 p{font-size:1.0625rem; line-height:1; text-align:center; height:2.125rem;}
.client-01 .slide-container .arrows button{opacity:0;}
.client-01 .slide-container .arrows button.slick-prev{transform:translateX(-2.25rem);}
.client-01 .slide-container .arrows button.slick-next{transform:translateX(2.25rem);}
.client-01 .slide-container:hover .arrows button{opacity:1;}
.client-01 .slide-container:hover .arrows button.slick-prev{transform:translateX(-1.5rem);}
.client-01 .slide-container:hover .arrows button.slick-next{transform:translateX(1.5rem);}


/* Content 01 */
.content-01{width:100%; position:relative;}
.content-01 > .img-bg{
    position:absolute; top:0; left:0; right:0; background-position:center;
    background-size:cover; height:45.875rem;
}
.content-01 > .container{position:relative;}
.content-01 .btn-ads{position:absolute; top:11rem; left:0; z-index:1;}
.content-01 .btn-ad{display:block; width:9rem; margin:.125rem;}
.content-01 .btn-ad > img{display:block; width:100%; height:auto; transition:opacity .25s;}
.content-01 .btn-ad > img:hover{opacity:.8;}
.content-01 .grids{margin-top:18rem;}
@media screen and (max-width:1199.98px){
    .content-01 .btn-ads{top:10.5rem;}
    .content-01 .btn-ad{width:8rem;}
    .content-01 .grids{margin-top:20.9375rem;}
}
@media screen and (max-width:991.98px){
    .content-01 > .img-bg{height:40.3125rem;}
    .content-01 .btn-ads{
        position:relative; top:auto; left:auto; margin:2rem 0 0 0;
        width:100%; display:flex; align-items:center; justify-content:center;
    }
    .content-01 .btn-ad{width:7.5rem;}
    .content-01 .grids{margin-top:2rem;}
}
@media screen and (max-width:767.98px){
    .content-01 > .img-bg{height:40.8125rem}
    .content-01 .btn-ads{margin:1.5rem 0 0 0;}
    .content-01 .btn-ad{width:7.25rem;}
    .content-01 .grids{margin-top:1.5rem;}
}
@media screen and (max-width:575.98px){
    .content-01 > .img-bg{height:calc(18.75rem + (100vw - 30px) * .625);}
}


/* Content 03 */
.content-03{
    width:100%; background-size:cover; background-position:bottom center;
    padding-bottom:12rem;
}
.content-03 .ss-box-header > .body{padding-bottom:6rem;}
@media screen and (max-width:1199.98px){
    .content-03{padding-bottom:10rem;}
}
@media screen and (max-width:991.98px){
    .content-03{padding-bottom:9rem;}
}
@media screen and (max-width:767.98px){
    .content-03{padding-bottom:8rem;}
}


/* Content 04 */
.content-04 .slide-container{
    position:relative; display:block; width:100%; max-width:50rem; margin:0 auto;
    padding:.5rem; box-shadow:0 0 20px 10px rgba(0,0,0,.1);
}
.content-04 .slide-container .arrows button{padding:.25rem .9375rem;}
.content-04 .slide-nav{width:100%; margin:1.25rem 0 0 0;}
.content-04 .slide-nav .slides{width:100%;}
.content-04 .slide-nav .slide{padding:.75rem .1875rem;}
.content-04 .slide-nav .slide > .wrapper{
    position:relative; width:100%; padding:.25rem; box-shadow:0 0 8px 2px rgba(0,0,0,.06);
    cursor:pointer; transition:background .25s;
}
.content-04 .slide-nav .slide .img-wrapper{position:relative; width:100%; padding:60% 0 0 0;}


/* Tab Container */
.tab-container .tabs .tab{cursor:pointer;}
.tab-container .tab-contents .tab-content{display:none;}
.tab-container .tab-contents .tab-content.active{display:block;}

/* Tab Container 01 */
.tab-container-01 .tabs{position:relative; width:100%; padding-bottom:6rem;}
.tab-container-01 .tab{
    position:relative; width:100%; padding:.6875rem 1rem .625rem 3.5rem; 
    display:flex; align-items:center; transition:padding .3s;
}
.tab-container-01 .tab.active{padding-left:1rem;}
.tab-container-01 .tab *{position:relative;}
.tab-container-01 .tab::before{
    content:''; position:absolute; top:0; bottom:0; left:0; right:0; opacity:0;
    transition:opacity .3s;
}
.tab-container-01 .tab.active::before{opacity:1;}
.tab-container-01 .tab::after{
    content:''; position:absolute; top:-.5px; left:0; right:0; height:1px;
}
.tab-container-01 .tab.tab-list::after{display:none;}
.tab-container-01 .tab > .icon{
    position:absolute; top:.6875rem; left:1rem; width:1.5rem; transition:opacity .3s;
}
.tab-container-01 .tab.active > .icon{opacity:0;}
.tab-container-01 .tab > .icon > img{display:block; height:1.25rem; width:auto;}

.tab-container-01 .tab-children{display:none; padding:0 0 .5rem 0;}
.tab-container-01 .tab.active + .tab-children{display:block;}
.tab-container-01 .tab.tab-list{padding:.125rem 1rem .125rem 3.5rem; font-size:1.1875rem;}
.tab-container-01 .tab.tab-list.active p{font-weight:600;}
.tab-container-01 .tab.tab-list::before{
    content:''; position:absolute; top:.6875rem; left:2.5rem; opacity:1;
    width:.3125rem; height:.3125rem; transition:background .3s;
}
@media screen and (max-width:991.98px){
    .tab-container-01 .tabs{padding-bottom:0;}
}

/* Tab Container 02 */
.tab-container-02 .tabs{width:100%; display:flex; justify-content:space-between; flex-wrap:wrap;}
.tab-container-02 .tab{position:relative; display:block; width:100%; margin:0 0 .375rem 0;}
.tab-container-02 .tab .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-position:center;
    background-size:cover;
}
.tab-container-02 .tab .text-wrapper{
    position:relative; width:11rem; padding:1.5625rem 1rem;
    clip-path:polygon(0% 0%, 80% 0%, 100% 70%, 90% 100%, 0% 100%);
    transition:padding .3s, opacity .3s, width .3s;
}
.tab-container-02 .tab.active .text-wrapper{opacity:0; padding:8rem 1rem;}
@media screen and (max-width:991.98px){
    .tab-container-02 .tab{width:calc(50% - .1875rem);}
    .tab-container-02 .tab.active .text-wrapper{opacity:1; padding:1.5625rem 1rem; width:14rem;}
}
@media screen and (max-width:575.98px){
    .tab-container-02 .tab{width:100%;}
    .tab-container-02 .tab.active .text-wrapper{width:16rem;}
}
