
/* Reset */
html, body{color:#ffff00; background:#000;}


/* Colors */
.color-white, .color-black{color:#ffff00!important;}
.bg-color-white, .bg-color-black{background:#000!important;}


/* Input */
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], select, textarea{
    border-color:#ffff00!important; background:#000!important; color:#ffff00!important;
}
