
/* Reset */
html, body{background:#000; color:#ffff00;}


/* Section & Container  */
.section-bg-hero > .bg-hero{display:none;}


/* Colors */
.color-white, .color-black, .color-gray, .color-sgray, .color-fgray,
.color-01, .h-color-01:hover, .color-02, .h-color-02:hover, .color-03, .h-color-03:hover,
.color-04, .h-color-04:hover, .color-05, .h-color-05:hover, .color-06, .h-color-06:hover, 
.color-07, .h-color-07:hover, .color-08, .h-color-08:hover{
    color:#ffff00!important;
}

.bg-white, .bg-black, .bg-gray, .bg-sgray, .bg-fgray,
.bg-01, .bg-02, .bg-03, .bg-04, .bg-05, .bg-06, .bg-07, .bg-08{
    background:#000!important;
}

.bcolor-white, .bcolor-black, .bcolor-gray, .bcolor-sgray, .bcolor-fgray,
.bcolor-01, .bcolor-02, .bcolor-03, .bcolor-04, .bcolor-05, .bcolor-06, .bcolor-07, .bcolor-08{
    border-color:#ffff00!important;
}


/* Input */
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], select, textarea{
    border-color:#ffff00; background:#ffff00; color:#000;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=date]:focus, 
input[type=tel]:focus, input[type=number]:focus, input[type=phone]:focus, input[type=submit]:focus, 
select:focus, textarea:focus{
    border-color:#ffff00;
}

/* Select Input */
.select-wrapper.icon-square::after{background:#ffff00; color:#000;}


/* Topnav */
nav.topnav{
    background:#000; border-color:#ffff00;
}
nav.topnav .logo{color:#ffff00;}
nav.topnav .top-container .item, nav.topnav .top-container .item a{color:#ffff00;}
nav.topnav .menu > a{color:#ffff00;}
nav.topnav .mobile-container .menu > a{color:#ffff00;}
nav.topnav .hamburger > *{background:#ffff00;}
.topnav-dropdown .dropdown-wrapper{background:#000!important; border:1px solid #ffff00;}

/* Sidenav */
nav.sidenav{background:#000;}
nav.sidenav .hamburger > *{background:#ffff00;}
nav.sidenav .scroll-wrapper, nav.sidenav .menu > a, nav.sidenav .item{border-color:#ffff00;}
nav.sidenav .menu > a, nav.sidenav .item, nav.sidenav .item > a{color:#ffff00;}

/* Global Search Container */
.global-search-container .hamburger > *{background:#ffff00;}

/* Back to Top */
.back-to-top i{color:#000;}

/* Footer */
nav.footer{color:#ffff00; border-top:1px solid #ffff00;}
nav.footer .tag{background:#ffff00; color:#000;}


/* Buttons */
.btn-icon.btn-icon-01{background:#ffff00; color:#000;}
.btn-icon.btn-icon-01:hover{background:#000; color:#ffff00;}

.btn-action, .btn-action:focus, .btn-action:hover, .btn-action:active{
    background:#000; color:#ffff00; border:1px solid #ffff00;
}
.btn-action::before{background:#ffff00;}


/* Chat Container */
.chat-container .chat > .profile-container, .chat-message > .profile-container{
    background:#ffff00;
}
.chat-container .chat .text-wrapper{background:#ffff00; color:#000;}


/* Content Footer */
.content-footer .content-row{border-color:#ffff00!important;}
.content-footer .btn-social{background:#ffff00; color:#000;}


/* Content General */
.content-float-date{border:1px solid #ffff00; color:#ffff00;}
.content-float-date .d{border-color:#ffff00;}


/* Grid Header */
.grid-header .btn-grid{background:#000; border-color:#ffff00; color:#ffff00;}
.grid-header .btn-grid:hover, .grid-header .btn-grid.active{background:#ffff00; color:#000;}


/* Grid Footer */
.grid-footer select.pp{color:#ffff00;}

/* Pagination */
.pagination .page-btn{color:#ffff00;}
.pagination .page-btn.page-prev, .pagination .page-btn.page-next,
.pagination .page-btn.page-first, .pagination .page-btn.page-last{
    border-color:#ffff00;
}
.pagination .page-btn.page-prev:hover, .pagination .page-btn.page-next:hover,
.pagination .page-btn.page-first:hover, .pagination .page-btn.page-last:hover{
    border-color:#ffff00; background:#ffff00; color:#000;
}


/* Popup Container */
.popup-container .box-header{background:#000; border:1px solid #ffff00;}
.popup-container .box-body{
    background:#000; border-left:1px solid #ffff00; border-right:1px solid #ffff00;
}
.popup-container .box-header .close-btn{color:#ffff00;}
.popup-container .box-btns{border:1px solid #ffff00;}
.popup-container .box-btn{background:#000; color:#ffff00;}
.popup-container .box-btn:hover{background:#ffff00; color:#000;}


/* Shortcode */
.shortcode-container > textarea{border-color:#ffff00; color:#ffff00;}


/* Slide Container */
.slide-container .arrows button{color:#ffff00;}


/* Special Box */
.ss-box{background:#000; border:1px solid #ffff00;}

/* Special Box Header */
.ss-box-header > .header, .ss-box-header > .body{border:1px solid #ffff00;}
.ss-box-header > .body{border-top:0;}


/* Special Card */
.ss-card .text-container{color:#ffff00; background:#000; border:1px solid #ffff00;}
.ss-card:hover .text-container{color:#000; background:#ffff00;}
.ss-card a.title{color:#ffff00;}
.ss-card:hover a.title, .ss-card:hover table td{color:#000;}

/* Special Card 05 */
.ss-card-05 .text-container{background:#000; border-color:#ffff00;}
.ss-card-05:hover .text-container h3{color:#000!important;}
.ss-card-05 .stat-container{background:#000; border-color:#ffff00;}
.ss-card-05 .stat-container .btns{border-color:#ffff00;}
.ss-card-05 .stat-container .btn{background:#000; color:#ffff00;}
.ss-card-05 .stat-container .btn:first-child{border-color:#ffff00;}
.ss-card-05 .stat-container .btn i{background:#ffff00; color:#000;}

/* Special Card 06 */
.ss-card-06 .text-container{border:0;}
.ss-card-06:hover .text-container{color:#ffff00; background:#000;}
.ss-card-06:hover a.title{color:#ffff00;}


/* Special Date */
.ss-date > .date{border:1px solid #ffff00; color:#ffff00;}
.ss-date > .date .d{border-color:#ffff00;}


/* Special Image */
.ss-img > .date{background:#ffff00!important; color:#000!important;}
.ss-img > .date .d{border-color:#000;}
.ss-img .hover-container{background-color:rgba(111,81,170,.65);}
.ss-img .play-container .icon{border-color:#ffff00; color:#ffff00;}


/* Special List */
ul.ss-list .btn-icon{background:#ffff00; color:#000;}
ul.ss-list > li > a{color:#ffff00;}
ul.ss-list > li::before{background:#ffff00;}


/* Special Separation */
.ss-sep{background:#ffff00;}


/* Special Stat */
.ss-stat .stat > .icon{background:#ffff00; color:#000;}
.ss-stat .stat.icon-only > .icon{background:none; color:#ffff00;}


/* Special Tag */
.ss-tag .tag{color:#ffff00; border-color:#ffff00;}
.ss-card:hover .ss-tag .tag{color:#000; border-color:#000;}
.ss-tag .tag:hover{
    border-color:#ffff00!important; background:#ffff00!important; color:#000!important;
}


/* Table */
table.table{color:#ffff00;}
table.table-download .btn-download{color:#ffff00;}
table.table-download .btn-download > i{border-color:#ffff00;}
table.table-download .btn-download:hover > i{background:#ffff00; color:#000;}
table.table-estate > tbody > tr > td{border:1px solid #ffff00;}
table.table-helpdesk th{border:1px solid #ffff00;}
table.table-helpdesk td{border:1px solid #ffff00;}
table.table-helpdesk .tag-status{border:1px solid #ffff00;}
table.table-vote th{border:1px solid #ffff00;}
table.table-vote td{border:1px solid #ffff00;}
table.table-faq th{border-color:#ffff00; border-right:1px solid #ffff00;}
table.table-faq td{border-color:#ffff00!important; border-bottom:1px solid #ffff00;}


/* About 01 */
.about-01 .tab-icon{color:#ffff00;}


/* About 02 */
.about-02 .about-container{border:1px solid #ffff00; border-top:0;}
.about-02 .about-container:first-child{border-top:1px solid #ffff00;}
.about-02 .about-container .date{
    border-right:1px solid #ffff00; border-bottom:1px solid #ffff00;
}
.about-02 .about-container > .about-tag .icon{color:#ffff00; border-color:#ffff00;}
.about-02 .about-container .about-side{background-color:#573f77;}


/* About 03 */
.about-03{background:none!important;}
.about-03 .slick-dots::before{border-color:#ffff00;}
.about-03 .slick-dots button{color:#ffff00;}
.about-03 .slick-dots button::before{border-color:#ffff00; background:#ffff00;}
.about-03 .slick-dots button::after{background:#000;}


/* About 04 */
.about-04 > .top-container{background:none!important;}
.about-04 .director-container{
    background:rgba(0,0,0,.75); border-top:1px solid #ffff00; border-bottom:1px solid #ffff00;
}
.about-04 .director-container-02{border-bottom:1px solid #ffff00;}


/* Breadcrumb 01 */
.breadcrumb-01 a.icon{background:#ffff00; color:#000;}
.breadcrumb-01 a.text{color:#ffff00;}


/* Call to Action 01 */
.call-01{background:#000; border-top:1px solid #ffff00;}
.call-01 .contents{color:#ffff00;}


/* Client 01 */
.client-01{background:#000!important; border-top:1px solid #ffff00;}
.client-01 .slide:first-child::before, .client-01 .slide::after{background:#ffff00;}
.client-01 p{color:#ffff00;}


/* Contact 01 */
.contact-01{background:none!important; border-top:1px solid #ffff00;}


/* Content 01 */
.content-01 .btn-ad{background:#000;}


/* Content 03 */
.content-03{background:none!important;}


/* Content 04 */
.content-04{background:none!important;}
.content-04 .slide-container, .content-04 .video-container{background:#ffff00;}
.content-04 .slide-container .arrows button{
    background:#000; color:#ffff00; border:1px solid #ffff00;
}
.content-04 .slide-nav .slide > .wrapper{border:1px solid #ffff00;}
.content-04 .slide-nav .slide.slick-current > .wrapper{background:#ffff00;}


/* Content 06 */
.content-06 .slide-container .arrows button{
    background:#000; color:#ffff00; border:1px solid #ffff00;
}
.content-06 .slide-container .slide > .wrapper{background:#ffff00;}


/* Content 07 */
.content-07{background:none!important; border-top:1px solid #ffff00;}


/* FAQ 01 */
.faq-01 .faq{border:1px solid #ffff00;;}
.faq-01 .faq .icon{border-right:1px solid #ffff00;}
.faq-01 .faq > .faq-body .icon{border-top:1px solid #ffff00;}


/* Tab Container 01 */
.tab-container-01 .tabs{background:#000; border:1px solid #ffff00;}
.tab-container-01 .tab.active{color:#000!important;}
.tab-container-01 .tab::before{background:#ffff00;}
.tab-container-01 .tab::after{background:#ffff00;}
.tab-container-01 .tab.tab-main.active{color:#000!important;}
.tab-container-01 .tab.tab-list::before{background:#ffff00;}

/* Tab Container 02 */
.tab-container-02 .tab .text-wrapper{background:#ffff00; color:#000;}

/* Tab Container 03 */
.tab-container-03 .tabs{background:#000; border:1px solid #ffff00;}
.tab-container-03 .tab.active{color:#000!important;}
.tab-container-03 .tab::before{background:#ffff00;}


/* Section Calendar */
.section-calendar > .top-container,
.section-calendar > .middle-container,
.section-calendar > .bottom-container{border-top:1px solid #ffff00;}
.section-calendar .slide > .wrapper{color:#ffff00;}
.section-calendar .slide.slick-current > .wrapper{color:#000;}
.section-calendar .slide > .wrapper::before{background:#ffff00;}
.section-calendar .slide-container .arrows button{color:#ffff00;}
.section-calendar .calendar-tabs::before,
.section-calendar .calendar-tabs::after{border-color:#ffff00;}
.section-calendar .calendar-tabs .tab.active .icon{background:#ffff00; color:#000;}

/* Calendar - Month */
.calendar-month .fc-day-header{color:#ffff00;}
.calendar-month .fc-day-top > span{background:#ffff00; color:#000;}
.calendar-month .fc-unthemed td.fc-today{background:rgba(255,255,0,.18);}
.calendar-month .fc-day-top.fc-other-month > span{opacity:.4;}
.calendar-month .custom-event{color:#ffff00;}
.calendar-month a.fc-more{color:#ffff00; border-color:#ffff00;}
.calendar-month .fc-unthemed .fc-popover{border:1px solid #ffff00; background:#000;}
.calendar-month .fc-unthemed .fc-popover .fc-header{
    border-bottom:1px solid #ffff00; background:#000;
}
