
/* Reset */
html, body{background:#000; color:#fff;}


/* Section & Container  */
.section-bg-hero > .bg-hero{display:none;}


/* Colors */
.color-white, .color-black, .color-gray, .color-sgray, .color-fgray,
.color-01, .h-color-01:hover, .color-02, .h-color-02:hover, .color-03, .h-color-03:hover,
.color-04, .h-color-04:hover, .color-05, .h-color-05:hover, .color-06, .h-color-06:hover, 
.color-07, .h-color-07:hover, .color-08, .h-color-08:hover, .color-09, .h-color-09:hover{
    color:#fff!important;
}

.bg-white, .bg-black, .bg-gray, .bg-sgray, .bg-fgray,
.bg-01, .bg-02, .bg-03, .bg-04, .bg-05, .bg-06, .bg-07, .bg-08, .bg-09{
    background:#000!important;
}

.bcolor-white, .bcolor-black, .bcolor-gray, .bcolor-sgray, .bcolor-fgray,
.bcolor-01, .bcolor-02, .bcolor-03, .bcolor-04, .bcolor-05, .bcolor-06, .bcolor-07, .bcolor-08,
.bcolor-09{
    border-color:#fff!important;
}


/* Input */
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], select, textarea{
    border-color:#fff; background:#fff; color:#000;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=date]:focus, 
input[type=tel]:focus, input[type=number]:focus, input[type=phone]:focus, input[type=submit]:focus, 
select:focus, textarea:focus{
    border-color:#fff;
}

/* Input Wrappers */
.select-wrapper::after{color:#fff;}
.select-wrapper.icon-square::after{background:#fff; color:#000;}
.input-date-wrapper::after{color:#fff;}


/* Topnav */
nav.topnav{
    background:#000; border-color:#fff;
}
nav.topnav .logo{color:#fff;}
nav.topnav .top-container .item, nav.topnav .top-container .item a{color:#fff;}
nav.topnav .menu > a{color:#fff;}
nav.topnav .mobile-container .menu > a{color:#fff;}
nav.topnav .hamburger > *{background:#fff;}
.topnav-dropdown .dropdown-wrapper{background:#000!important; border:1px solid #fff;}

/* Sidenav */
nav.sidenav{background:#000; border-left:1px solid #fff;}
nav.sidenav .hamburger > *{background:#fff;}
nav.sidenav .scroll-wrapper, nav.sidenav .menu > a, nav.sidenav .item{border-color:#fff;}
nav.sidenav .menu > a, nav.sidenav .item, nav.sidenav .item > a{color:#fff;}
nav.sidenav .menu ul.ss-list > li > a{border-color:#fff;}
nav.sidenav .menu ul.ss-list > li > a + .btn-icon{color:#fff;}

/* Global Search Container */
.global-search-container .hamburger > *{background:#fff;}

/* Back to Top */
.back-to-top i, .back-to-top em{color:#000;}

/* Footer */
nav.footer{color:#fff; border-top:1px solid #fff;}
nav.footer .tag{background:#fff; color:#000;}


/* Buttons */
.btn-icon.btn-icon-01{background:#fff; color:#000;}
.btn-icon.btn-icon-01:hover{background:#000; color:#fff;}

.btn-action, .btn-action:focus, .btn-action:hover, .btn-action:active{
    background:#000; color:#fff; border:1px solid #fff;
}
.btn-action::before{background:#fff;}

.btn-social-white{background:#fff; color:#fff;}
.btn-social-white:hover{color:#000;}
.btn-social-white::before{background:#000;}


/* Chat Container */
.chat-container .chat > .profile-container, .chat-message > .profile-container{
    background:#fff;
}
.chat-container .chat .text-wrapper{background:#fff; color:#000;}


/* Content Footer */
.content-footer .content-row{border-color:#fff!important;}
.content-footer .btn-social{background:#fff; color:#000;}


/* Content General */
.content-float-date{border:1px solid #fff; color:#fff;}
.content-float-date .d{border-color:#fff;}


/* Grid Header */
.grid-header .btn-grid{background:#000; border-color:#fff; color:#fff;}
.grid-header .btn-grid:hover, .grid-header .btn-grid.active{background:#fff; color:#000;}

/* Grid Footer */
.grid-footer select.pp{color:#fff;}

/* Pagination */
.pagination .page-btn{color:#fff;}
.pagination .page-btn.page-prev, .pagination .page-btn.page-next,
.pagination .page-btn.page-first, .pagination .page-btn.page-last{
    border-color:#fff;
}
.pagination .page-btn.page-prev:hover, .pagination .page-btn.page-next:hover,
.pagination .page-btn.page-first:hover, .pagination .page-btn.page-last:hover{
    border-color:#fff; background:#fff; color:#000;
}


/* Popup Container */
.popup-container .box-header{background:#000; border:1px solid #fff;}
.popup-container .box-body{
    background:#000; border-left:1px solid #fff; border-right:1px solid #fff;
}
.popup-container .box-header .close-btn{color:#fff;}
.popup-container .box-btns{border:1px solid #fff;}
.popup-container .box-btn{background:#000; color:#fff;}
.popup-container .box-btn:hover{background:#fff; color:#000;}


/* Shortcode */
.shortcode-container > textarea{border-color:#fff; color:#fff;}


/* Slide Container */
.slide-container .arrows button{color:#fff;}


/* Special Box */
.ss-box{background:#000; border:1px solid #fff;}


/* Special Box Header */
.ss-box-header > .header, .ss-box-header > .body{border:1px solid #fff;}
.ss-box-header > .body{border-top:0;}


/* Special Card */
.ss-card .text-container{color:#fff; background:#000; border:1px solid #fff;}
.ss-card:hover .text-container{color:#000; background:#fff;}
.ss-card a.title{color:#fff;}
.ss-card:hover a.title, .ss-card:hover table td{color:#000;}

/* Special Card 05 */
.ss-card-05 .text-container{background:#000; border-color:#fff;}
.ss-card-05:hover .text-container h3{color:#000!important;}
.ss-card-05 .stat-container{background:#000; border-color:#fff;}
.ss-card-05 .stat-container .btns{border-color:#fff;}
.ss-card-05 .stat-container .btn{background:#000; color:#fff;}
.ss-card-05 .stat-container .btn:first-child{border-color:#fff;}
.ss-card-05 .stat-container .btn i, .ss-card-05 .stat-container .btn em{
    background:#fff; color:#000;
}

/* Special Card 06 */
.ss-card-06 .text-container{border:0;}
.ss-card-06:hover .text-container{color:#fff; background:#000;}
.ss-card-06:hover a.title{color:#fff;}


/* Special Date */
.ss-date > .date{border:1px solid #fff; color:#fff;}
.ss-date > .date .d{border-color:#fff;}


/* Special Image */
.ss-img > .date{background:#fff!important; color:#000!important;}
.ss-img > .date .d{border-color:#000;}
.ss-img .hover-container{background-color:rgba(111,81,170,.65);}
.ss-img .play-container .icon{border-color:#fff; color:#fff;}
.ss-img .content-info{background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,.5) 60%, rgba(0,0,0,0) 100%);}


/* Special List */
ul.ss-list .btn-icon{background:#fff; color:#000;}
ul.ss-list > li > a{color:#fff;}
ul.ss-list > li::before{background:#fff;}


/* Special Separation */
.ss-sep{background:#fff;}


/* Special Stat */
.ss-stat .stat > .icon{background:#fff; color:#000;}
.ss-stat .stat.icon-only > .icon{background:none; color:#fff;}


/* Special Tag */
.ss-tag .tag{color:#fff; border-color:#fff;}
.ss-card:hover .ss-tag .tag{color:#000; border-color:#000;}
.ss-tag .tag:hover{
    border-color:#fff!important; background:#fff!important; color:#000!important;
}


/* Table */
table.table{color:#fff;}
table.table-download .btn-download{color:#fff;}
table.table-download .btn-download > i, table.table-download .btn-download > em{border-color:#fff;}
table.table-download .btn-download:hover > i, table.table-download .btn-download:hover > em{
    background:#fff; color:#000;
}
table.table-download.type-02 td{background:#000; border-color:#fff!important;}
table.table-download-02 td{border-color:#fff;}
table.table-download-02 tr.row-title td{border-color:#fff;}
table.table-download-02 .row-header:hover .text-wrapper{color:#000;}
table.table-download-02 .row-header::before{background:#fff;}
table.table-download-02 .btn{color:#fff;}
table.table-download-02 .btn > em{border-color:#fff; background:#000; color:#fff;}
table.table-estate > tbody > tr > td:nth-child(1){background:#5d4289; color:#fff;}
table.table-estate > tbody > tr > td{border:1px solid #fff;}
table.table-helpdesk th{border:1px solid #fff;}
table.table-helpdesk td{border:1px solid #fff;}
table.table-helpdesk .tag-status{border:1px solid #fff;}
table.table-vote th{border:1px solid #fff;}
table.table-vote td{border:1px solid #fff;}
table.table-faq th{border-color:#fff; border-right:1px solid #fff;}
table.table-faq td{border-color:#fff!important; border-bottom:1px solid #fff;}


/* About 01 */
.about-01 .tab-icon{color:#fff;}


/* About 02 */
.about-02 .about-container{border:1px solid #fff; border-top:0;}
.about-02 .about-container:first-child{border-top:1px solid #fff;}
.about-02 .about-container .date{border-right:1px solid #fff; border-bottom:1px solid #fff;}
.about-02 .about-container > .about-tag .icon{color:#fff; border-color:#fff;}
.about-02 .about-container .about-side{background-color:#573f77;}


/* About 03 */
.about-03{background:none!important;}
.about-03 .slide-container .arrows button::before{color:#fff;}
.about-03 .slick-dots::before{border-color:#fff;}
.about-03 .slick-dots button{color:#fff;}
.about-03 .slick-dots button::before{border-color:#fff; background:#fff;}
.about-03 .slick-dots button::after{background:#000;}


/* About 04 */
.about-04 > .top-container{background:none!important;}
.about-04 .director-container{
    background:rgba(0,0,0,.75); border-top:1px solid #fff; border-bottom:1px solid #fff;
}
.about-04 .director-container-02{border-bottom:1px solid #fff;}


/* Banner 01 */
.banner-01 .slick-dots button{border-color:#fff;}
.banner-01 .slick-dots .slick-active button{background:#fff;}
.banner-01 .slide-container .arrows button{color:#fff;}


/* Breadcrumb 01 */
.breadcrumb-01 a.icon{background:#fff; color:#000;}
.breadcrumb-01 a.text{color:#fff;}


/* Call to Action 01 */
.call-01{background:#000; border-top:1px solid #fff;}
.call-01 .contents{color:#fff;}


/* Client 01 */
.client-01{background:#000!important; border-top:1px solid #fff;}
.client-01 .slide:first-child::before, .client-01 .slide::after{background:#fff;}
.client-01 p{color:#fff;}


/* Contact 01 */
.contact-01{background:none!important; border-top:1px solid #fff;}


/* Content 01 */
.content-01 .btn-ad{background:#000;}


/* Content 03 */
.content-03{background:none!important;}


/* Content 04 */
.content-04{background:none!important;}
.content-04 .slide-container, .content-04 .video-container{background:#fff;}
.content-04 .slide-container .arrows button{color:#000;}
.content-04 .slide-nav .slide > .wrapper{border:1px solid #fff;}
.content-04 .slide-nav .slide.slick-current > .wrapper{background:#fff;}


/* Content 06 */
.content-06 .slide-container .arrows button{
    background:#000; color:#fff; border:1px solid #fff;
}
.content-06 .slide-container .slide > .wrapper{background:#fff;}


/* Content 07 */
.content-07{background:none!important; border-top:1px solid #fff;}


/* FAQ 01 */
.faq-01 .faq{border:1px solid #fff;;}
.faq-01 .faq .faq-icon{border-right:1px solid #fff;}
.faq-01 .faq > .faq-body .faq-icon{border-top:1px solid #fff;}


/* Tab Container 01 */
.tab-container-01 .tabs{background:#000; border:1px solid #fff;}
.tab-container-01 .tab.active{color:#000!important;}
.tab-container-01 .tab::before{background:#fff;}
.tab-container-01 .tab::after{background:#fff;}
.tab-container-01 .tab.tab-main.active{color:#000!important;}
.tab-container-01 .tab.tab-list::before{background:#fff;}

/* Tab Container 02 */
.tab-container-02 .tab .text-wrapper{background:#000; color:#fff;}

/* Tab Container 03 */
.tab-container-03 .tabs{background:#000; border:1px solid #fff;}
.tab-container-03 .tab.active{color:#000!important;}
.tab-container-03 .tab::before{background:#fff;}

/* Tab Container 04 */
.tab-container-04 .tab{background:#000; border-color:#fff!important;}
.tab-container-04 .tab.active{color:#000!important;}
.tab-container-04 .tab::before{background:#fff}


/* Section Calendar */
.section-calendar > .top-container,
.section-calendar > .middle-container,
.section-calendar > .bottom-container{border-top:1px solid #fff;}
.section-calendar .slide > .wrapper{color:#fff;}
.section-calendar .slide.slick-current > .wrapper{color:#000;}
.section-calendar .slide > .wrapper::before{background:#fff;}
.section-calendar .slide-container .arrows button{color:#fff;}
.section-calendar .calendar-tabs::before,
.section-calendar .calendar-tabs::after{border-color:#fff;}
.section-calendar .calendar-tabs .tab:hover .icon,
.section-calendar .calendar-tabs .slick-current > .tab .icon{background:#fff; color:#000;}
.section-calendar .calendar-contents::before{border-color:#fff;}
.section-calendar .calendar-content::before{border-color:#fff; background:#000;}
.section-calendar .calendar-content::after{background:#fff;}

/* Calendar - Month */
.calendar-month .fc-day-header{color:#fff;}
.calendar-month .fc-day-top > span{background:#fff; color:#000;}
.calendar-month .fc-unthemed td.fc-today{background:rgba(255,255,255,.18);}
.calendar-month .fc-day-top.fc-other-month > span{opacity:.4;}
.calendar-month .custom-event{color:#fff;}
.calendar-month a.fc-more{color:#fff; border-color:#fff;}
.calendar-month .fc-unthemed .fc-popover{border:1px solid #fff; background:#000;}
.calendar-month .fc-unthemed .fc-popover .fc-header{
    border-bottom:1px solid #fff; background:#000;
}
.calendar-month .fc-day:hover{background:rgba(255,255,255,.2);}

/* Calendar - Week */
.calendar-week .custom-date .date-tag{background:#fff; color:#000;}
.calendar-week .fc-day-grid td.fc-widget-content{border-color:#fff!important;}
.calendar-week .fc-axis.fc-time.fc-widget-content{background:#fff; color:#000;}
.calendar-week .fc-time-grid .fc-event{background:#fff; color:#000;}
.calendar-week .fc-time-grid .fc-event .fc-time{border-bottom:2px solid #000;}
.calendar-week .fc-toolbar.fc-header-toolbar .fc-button{color:#fff;}
