
/* Reset */
html, body{color:#000;}


/* Colors */
.color-white{color:#fff!important;}
.color-black{color:#000!important;}
.color-dark{color:#212529!important;}
.color-sgray{color:#f3f3f3!important;}
.color-gray{color:#e9e9e9!important;}
.color-dgray{color:#666!important;}
.color-01{color:#422754!important;}
.color-02{color:#59236e!important;}
.color-03{color:#4a2d73!important;}
.color-04{color:#ba41ce!important;}
.color-05{color:#b15fc8!important;}
.color-06{color:#4a2d73!important;}
.color-07{color:#7f179d!important;}
.color-08{color:#4a3980!important;}
.color-09{color:#6c109d!important;}
.color-10{color:#5a0687!important;}

.bg-color-white{background:#fff!important;}
.bg-white-adaptive{background:#fff!important;}
.bg-color-black{background:#000!important;}
.bg-color-dark{background:#212529!important;}
.bg-color-sgray{background:#f3f3f3!important;}
.bg-color-gray{background:#e9e9e9!important;}
.bg-color-dgray{background:#666!important;}
.bg-color-01{background:#422754!important;}
.bg-color-02{background:#59236e!important;}
.bg-color-03{background:#4a2d73!important;}
.bg-color-04{background:#ba41ce!important;}
.bg-color-05{background:#b15fc8!important;}
.bg-color-06{background:#4a2d73!important;}
.bg-color-07{background:#7f179d!important;}
.bg-color-08{background:#4a3980!important;}
.bg-color-09{background:#6c109d!important;}
.bg-color-09{background:#5a0687!important;}


/* Input */
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], select, textarea{
    border-color:#ddd; background:#fff;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=date]:focus, 
input[type=tel]:focus, input[type=number]:focus, input[type=phone]:focus, input[type=submit]:focus, 
select:focus, textarea:focus{
    border-color:#59236e;
}
