
/* Reset */
html, body{color:#000000;}


/* Colors */
.color-white{color:#fff!important;}
.color-black{color:#000!important;}
.color-gray{color:#444!important;}
.color-sgray{color:#dee2e6!important;}
.color-fgray{color:#f1f1f1!important;}
.color-01, .h-color-01:hover{color:#5e2472!important;}
.color-02, .h-color-02:hover{color:#4b326e!important;}
.color-03, .h-color-03:hover{color:#6cdded!important;}
.color-04, .h-color-04:hover{color:#169f96!important;}
.color-05, .h-color-05:hover{color:#75ced2!important;}
.color-06, .h-color-06:hover{color:#5d4189!important;}
.color-07, .h-color-07:hover{color:#8c6ab2!important;}
.color-08, .h-color-08:hover{color:#33bbc6!important;}
.color-09, .h-color-09:hover{color:#6593b7!important;}
.color-10, .h-color-10:hover{color:#804097!important;}

.bg-white{background:#fff!important;}
.bg-black{background:#000!important;}
.bg-gray{background:#444!important;}
.bg-sgray{background:#dee2e6!important;}
.bg-fgray{background:#f1f1f1!important;}
.bg-01{background:#5e2472!important;}
.bg-02{background:#4b326e!important;}
.bg-03{background:#6cdded!important;}
.bg-04{background:#169f96!important;}
.bg-05{background:#75ced2!important;}
.bg-06{background:#5d4189!important;}
.bg-07{background:#8c6ab2!important;}
.bg-08{background:#33bbc6!important;}
.bg-09{background:#6593b7!important;}
.bg-10{background:#804097!important;}

.bcolor-white{border-color:#fff!important;}
.bcolor-black{border-color:#000!important;}
.bcolor-gray{border-color:#444!important;}
.bcolor-sgray{border-color:#dee2e6!important;}
.bcolor-fgray{border-color:#f1f1f1!important;}
.bcolor-01{border-color:#5e2472!important;}
.bcolor-02{border-color:#4b326e!important;}
.bcolor-03{border-color:#6cdded!important;}
.bcolor-04{border-color:#169f96!important;}
.bcolor-05{border-color:#75ced2!important;}
.bcolor-06{border-color:#5d4189!important;}
.bcolor-07{border-color:#8c6ab2!important;}
.bcolor-08{border-color:#33bbc6!important;}
.bcolor-09{border-color:#6593b7!important;}
.bcolor-10{border-color:#804097!important;}

.color-gradient-01{
    background-image:linear-gradient(to bottom, #9057b0, #56237b);
    -webkit-background-clip:text; -webkit-text-fill-color:transparent;
}

.bg-gradient-gray{
    background-image:linear-gradient(to top, rgba(205,205,205, 1), rgba(255,255,255, 1), 
        rgba(255,255,255, 1), rgba(255,255,255, 1), rgba(255,255,255, 1), 
        rgba(255,255,255, 1), rgba(255,255,255, 1),  rgba(255,255,255, 1),
        rgba(255,255,255, 1),rgba(255,255,255, 1),rgba(255,255,255, 1) );
}
.bg-gradient-gray-02{
    background-image:linear-gradient(to bottom, #c5c5c5, #f9f9f9, #f9f9f9, #f9f9f9, 
        #f9f9f9, #f9f9f9, transparent, transparent, transparent, transparent);
}
.bg-gradient-gray-03{
    background-image:linear-gradient(to bottom, rgba(230,230,230, 1), rgba(245,245,245, 1), 
        rgba(255,255,255, 1), rgba(255,255,255, 1), rgba(255,255,255, 1), 
        rgba(255,255,255, 1), rgba(255,255,255, 1),  rgba(255,255,255, 1),
        rgba(255,255,255, 1),rgba(255,255,255, 1),rgba(205,205,205, 1) );
}


/* Input */
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], input[type=file], select, textarea{
    border-color:#ddd; background:#ffffff;
}
.field input[type=text], .field input[type=email], .field input[type=password], 
.field input[type=date], .field input[type=tel], .field input[type=number], .field input[type=phone], 
.field input[type=submit], .field input[type=file], .field select, .field textarea{
    background:#eaeaea;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=date]:focus, 
input[type=tel]:focus, input[type=number]:focus, input[type=phone]:focus, input[type=submit]:focus, 
input[type=file]:focus, select:focus, textarea:focus{
    border-color:#59236e;
}

.field label.error{border-color:#ff0000!important; color:red; background:rgba(255,0,0,.15);}

/* Input Wrappers */
.select-wrapper::after{color:#000000;}
.select-wrapper.icon-square::after{background:#000000; color:#ffffff;}
.input-date-wrapper::after{color:#4b316e;}


/* Super Topnav */
nav.stopnav{background:#ffffff;}
nav.stopnav > .top-container, nav.stopnav .option{border-color:#e1e1e1;}

/* Topnav */
nav.topnav{background:#ffffff; border-color:#eee; box-shadow:rgba(0,0,0,.05) 0px 10px 20px;}
nav.topnav .logo{color:#000000;}
nav.topnav .top-container > .wrapper::before{
    background-image:linear-gradient(to right, rgba(15,150,133,0), rgba(15,150,133,.5),
        rgba(15,150,133,1), rgba(15,150,133,1), rgba(15,150,133,1), rgba(15,150,133,1),
        rgba(31,111,94,1));
}
nav.topnav .top-container .item, nav.topnav .top-container .item a{color:#ffffff;}
nav.topnav .bottom-container > .wrapper::before{
    background-image:linear-gradient(to right, rgba(75,50,110,0), rgba(75,50,110,.75),
        rgba(75,50,110,1), rgba(75,50,110,1), rgba(75,50,110,1), rgba(75,50,110,1),
        rgba(128,63,151,1));
}
nav.topnav .menu::before{background-image:linear-gradient(45deg, #9762aa, #803f97);}
nav.topnav .menu > a{color:#ffffff;}
nav.topnav .mobile-container .menu > a{color:#000000;}
nav.topnav .hamburger > *{background:#000000;}
nav.topnav.style-demo, nav.topnav.minisite{
    background:#803f97; border-bottom:1px solid rgba(255,255,255,.4);
}
nav.topnav.style-demo .menu:hover > a,
nav.topnav.style-demo .menu.active > a,
nav.topnav.minisite .menu:hover > a,
nav.topnav.minisite .menu.active > a{background:#43afa1; color:#ffffff;}
nav.topnav.style-demo .option, 
nav.topnav.minisite .option{background:#43afa1; color:#ffffff;}
nav.topnav.style-demo .option.clear,
nav.topnav.minisite .option.clear{background:transparent;}
nav.topnav.style-demo .option.clear:hover,
nav.topnav.minisite .option.clear:hover{background:#43afa1;}
nav.topnav.style-demo .hamburger > *,
nav.topnav.minisite .hamburger > *{background:#ffffff;}

/* Sidenav */
nav.sidenav{background:#ffffff;}
nav.sidenav .hamburger > *{background:#000000;}
nav.sidenav .scroll-wrapper, nav.sidenav .menu > a, nav.sidenav .item{border-color:#ddd;}
nav.sidenav .menu > a, nav.sidenav .item, nav.sidenav .item > a{color:#000000;}
nav.sidenav .menu:hover > a, nav.sidenav .item:hover > a{color:#0f9684;}
nav.sidenav .menu > em:hover{color:#0f9684;}
nav.sidenav .menu ul.ss-list > li > a{border-color:#ddd;}
nav.sidenav .menu ul.ss-list > li > a + .btn-icon{color:#000000;}

/* Global Search Container */
.global-search-container .hamburger > *{background:#ffffff;}

/* Back to Top */
.back-to-top i, .back-to-top em{color:#5a407c;}

/* Footer */
nav.footer{color:#ffffff;}
nav.footer .tag{
    background-image:linear-gradient(to bottom, #2ea9a1, #0c8981, #0f8f87, #18a097,
        #1aa198, #1aa198, #1aa198, #1aa198);
    color:#ffffff; border-color:#5ebdb6;
}
nav.footer.style-demo .hero-container > .logo,
nav.footer.minisite .hero-container > .logo{background:#ffffff;}
nav.footer.minisite .btn-social-white::before{background:#804097;}


/* Buttons */
.btn-icon.btn-icon-01{background:#4b326e; color:#ffffff;}
.btn-icon.btn-icon-01:hover{background:#169f96; color:#ffffff;}

.btn-action, .btn-action:focus, .btn-action:hover, .btn-action:active{
    background:#3d3d3d; color:#ffffff;
}
.btn-action::before{background:#6cdded;}
.btn-action.btn-action-01::before{background:#ccc;}

.btn-social-white{background:#ffffff; color:#ffffff;}
.btn-social-white::before{background:#4b326e;}
.style-demo .btn-social-white::before{background:#7b3a92;}
.btn-social-white:hover{background:#2d2d2d; color:#ffffff;}
.btn-social-white.tw:hover{background:#39cbed; color:#ffffff;}
.btn-social-white.fb:hover{background:#5182f2; color:#ffffff;}
.btn-social-white.yt:hover{background:#ff0000; color:#ffffff;}
.btn-social-white.in:hover{background:#0077b5; color:#ffffff;}


/* Chat Container */
.chat-container .chat > .profile-container, .chat-message > .profile-container{
    box-shadow:2px 2px 8px rgba(0,0,0,.25); background:#ffffff;
}
.chat-container .chat .text-wrapper{background:#8c6ab2; color:#ffffff;}
.chat-container .chat.chat-other .text-wrapper{background:#eaeaea; color:#000000;}


/* Content Footer */
.content-footer .content-row{border-color:#e0e0e0!important;}
.content-footer .btn-social{background:#2d2d2d;}
.content-footer .btn-social:hover{background:#000000;}
.content-footer .btn-social.tw{color:#39cbed;}
.content-footer .btn-social.tw:hover{background:#39cbed; color:#ffffff;}
.content-footer .btn-social.fb{color:#5182f2;}
.content-footer .btn-social.fb:hover{background:#5182f2; color:#ffffff;}
.content-footer .btn-social.yt{color:#ff0000;}
.content-footer .btn-social.yt:hover{background:#ff0000; color:#ffffff;}


/* Content General */
.content-float-date{background:#169f96; color:#ffffff;}
.content-float-date .d{border-color:#c1dade;}

/* Content Header */
.content-header > .img-preview{background:#ffffff;}
.content-header .btn-back{color:#000000;}
.content-header .btn-back:hover{color:#169f96;}
.content-header .btn-back .icon{border-color:#000000;}
.content-header .btn-back:hover .icon{
    border-color:#169f96; background:#169f96; color:#ffffff;
}


/* Grid Header */
.grid-header .btn-grid{background:#000000; border-color:#000000; color:#ffffff;}
.grid-header .btn-grid.active{background:#169f96; border-color:#169f96;}

/* Grid Footer */
.grid-footer select.pp{color:#75ced2;}

/* Pagination */
.pagination .page-btn{color:#000000;}
.pagination .page-btn:hover, .pagination .page-btn.active{color:#169f96;}
.pagination .page-btn.page-prev, .pagination .page-btn.page-next,
.pagination .page-btn.page-first, .pagination .page-btn.page-last{
    border-color:#000000;
}
.pagination .page-btn.page-prev:hover, .pagination .page-btn.page-next:hover,
.pagination .page-btn.page-first:hover, .pagination .page-btn.page-last:hover{
    border-color:#169f96; background:#169f96; color:#ffffff;
}


/* Popup Container */
.popup-container .box-header{background:#f6f6f6;}
.popup-container .box-body{background:#ffffff;}
.popup-container .box-header .close-btn{color:#7b7b7b;}
.popup-container .box-btn{background:#323232; color:#ffffff;}
.popup-container .box-btn:hover{background:#000000;}


/* Shortcode */
.shortcode-container > textarea{border-color:#e0e0e0;}


/* Special Box */
.ss-box{background:#ffffff; box-shadow:0 0 10px 2px rgba(0,0,0,.15);}

/* Special Box Header */
.ss-box-header.shadow{box-shadow:0px 5px 20px 10px rgba(0,0,0,.1);}


/* Special Box Background */
.ss-box-bg::before{background:#ffffff;}


/* Special Card */
.ss-card .text-container{color:#000000; background:#ffffff;}
.ss-card:hover .text-container{color:#ffffff; background:#333333;}
.ss-card a.title{color:#000000;}
.ss-card:hover a.title, .ss-card:hover table td{color:#ffffff;}

/* Special Card 01 */
.ss-card-01:hover .ss-stat .stat > .icon{color:#ffffff;}
.ss-card-01:hover .ss-stat .stat > .icon > em{color:#000000;}

/* Special Card 03 */
.ss-card-03:hover .ss-stat .stat > .icon{color:#ffffff;}
.ss-card-03:hover .ss-stat .stat > .icon > em{color:#000000;}

/* Special Card 05 */
.ss-card-05 .text-container{background:#ebebeb;}
.ss-card-05:hover .text-container{
    background-image:linear-gradient(to right, #9f77cd, #8564aa, #77569d);
}
.ss-card-05 .stat-container{background:#8e8e8e;}
.ss-card-05 .stat-container .btn{background:#a5a5a5; color:#ffffff;}
.ss-card-05 .stat-container .btn i, .ss-card-05 .stat-container .btn em{background:#000000;}

/* Special Card 06 */
.ss-card-06:hover .text-container{color:#000000; background:#ffffff;}
.ss-card-06:hover a.title{color:#000000;}

/* Special Card 07 */
.ss-card-07 .text-container{background:#ffffff;}
.ss-card-07:hover .ss-stat .stat > .icon{color:#ffffff;}

/* Special Card 08 */
.ss-card-08 .text-container > .options{background:#8b8b8b;}
.ss-card-08 .text-container > .options > .option:last-child{background:#e3e3e3;}


/* Special Date */
.ss-date > .date{background:#169f96; color:#ffffff;}
.ss-date > .date .d{border-color:#c1dade;}


/* Special Image */
.ss-img > .date{background:#169f96; color:#ffffff;}
.ss-img > .date .d{border-color:#c1dade;}
.ss-img .hover-container{background-color:rgba(111,81,170,.65);}
.ss-img .play-container .icon{border-color:#ffffff; color:#ffffff;}
.ss-img .content-info{background: linear-gradient(90deg, rgba(82,65,137,1) 0%, rgba(114,164,197,1) 30%, rgba(193,239,244,.5) 60%, rgba(255,255,255,0) 100%);}


/* Special List */
ul.ss-list .btn-icon{background:#4b326e; color:#ffffff;}
ul.ss-list > li > a{color:#000000;}
ul.ss-list > li:hover > a{color:#4b326e;}
ul.ss-list.color-white > li > a{color:#ffffff;}
ul.ss-list.color-white > li:hover > a{color:#6ddeee;}
ul.ss-list > li::before{background:#6ddeee;}
ul.ss-list.dot-dark > li::before{background:#282828;}


/* Special Separation */
.ss-sep{
    background-image:linear-gradient(to left, rgba(202,202,202,0), rgba(202,202,202,0.5),
        rgba(202,202,202,1), rgba(202,202,202,1), rgba(202,202,202,1), 
        rgba(202,202,202,1), rgba(202,202,202,1), rgba(202,202,202,1), 
        rgba(202,202,202,.5), rgba(202,202,202,0));
}


/* Special Stat */
.ss-stat .stat > .icon{background:#e8e8e8; color:#333;}
.ss-stat .stat.icon-only > .icon{background:none;}


/* Special Step */
.ss-step .step .icon{color:#ffffff;}
.ss-step .step:nth-child(5n+1) .icon{background:#2c205e;}
.ss-step .step:nth-child(5n+2) .icon{background:#53418b;}
.ss-step .step:nth-child(5n+3) .icon{background:#956dd0;}
.ss-step .step:nth-child(5n+4) .icon{background:#8b2b84;}
.ss-step .step:nth-child(5n) .icon{background:#33b2b9;}
.ss-step > .wrapper::before{
    background-image:linear-gradient(to right, #2c205e, #53418b, #956dd0,
        #8b2b84, #33b2b9);
}


/* Special Tag */
.ss-tag .tag{color:#4e4e50; border-color:#cfcfcf;}
.ss-card:hover .ss-tag .tag{color:#ffffff; border-color:#ffffff;}
.ss-tag .tag:hover{
    border-color:#169f96!important; background:#169f96!important; color:#fff!important;
}


/* Special Title */
.ss-title > *:first-child::after{background:#169f96;}
.ss-title.line-black > *:first-child::after{background:#000000;}
.ss-title.line-purple > *:first-child::after{background:#7c3e94;}


/* Table */
table.table{color:#000000;}
table.table-download .btn-download{color:#000000;}
table.table-download .btn-download:hover{color:#169f96;}
table.table-download .btn-download > i, table.table-download .btn-download > em, 
table.table-download .btn-download > .icon-container{border-color:#000000;}
table.table-download .btn-download > .icon-container{background:#ffffff;}
table.table-download .btn-download:hover > i, table.table-download .btn-download:hover > em, 
table.table-download .btn-download:hover > .icon-container{
    border-color:#169f96; background:#169f96; color:#ffffff;
}
table.table-download.type-02 td{background:#ffffff; border-color:#f0eef1!important;}
table.table-download.type-03 td{background:#f0eef1; border-color:#fff!important;}
table.table-download-02 td{background:#f0eef1; border-color:#ffffff;}
table.table-download-02 tr.row-title td{background:#ffffff; border-color:#f0eef1;}
table.table-download-02 .row-header:hover .text-wrapper{color:#ffffff;}
table.table-download-02 .row-header::before{
    background-image:linear-gradient(to right, #9f77cd, #8564aa, #77569d);
}
table.table-download-02 .btn > em{border-color:#000000; background:#ffffff;}
table.table-estate > tbody > tr > td:nth-child(1){background:#5d4289; color:#ffffff;}
table.table-estate > tbody > tr:nth-child(even) > td:nth-child(1){background:#936dd0;}
table.table-estate > tbody > tr > td:nth-child(2){background:#ffffff;}
table.table-estate > tbody > tr:nth-child(even) > td:nth-child(2){background:#f1f1f1;}
table.table-helpdesk th{color:#ffffff;}
table.table-helpdesk th:nth-child(2n){background:#5b327b;}
table.table-helpdesk th:nth-child(2n+1){background:#452464;}
table.table-helpdesk td{border-color:#c4c4c4;}
table.table-helpdesk tr:nth-child(2n) > td:nth-child(2n){background:#ffffff;}
table.table-helpdesk tr:nth-child(2n) > td:nth-child(2n+1){background:#f0f0f0;}
table.table-helpdesk tr:nth-child(2n+1) > td:nth-child(2n){background:#f1f1f1;}
table.table-helpdesk tr:nth-child(2n+1) > td:nth-child(2n+1){background:#e3e3e3;}
table.table-vote th{background:#852985; color:#ffffff;}
table.table-vote td{background:#313335; color:#ffffff;}
table.table-faq th{
    color:#ffffff; border-color:#000000; background:#5d4189; border-right:1px solid #ffffff;
}
table.table-faq th:nth-child(2n){background:#936dcf;}
table.table-faq td{background:#f1f1f1; border-color:#000!important;}
table.table-faq tr:nth-child(2n) > td{background:#ffffff;}


/* About 01 */
.about-01{
    background-image:linear-gradient(to bottom, #ececec, #fbfbfb, #ffffff, #ffffff, 
        #ffffff, #ffffff);
}
.about-01 .tab-icon{color:#000000;}


/* About 02 */
.about-02 .about-container{background:#f1f1f1;}
.about-02 .about-container:nth-child(2n){background:#ffffff;}
.about-02 .about-container .date{background-color:#75ced2; color:#ffffff;}
.about-02 .about-container:nth-child(2n) .date{background-color:#1a849e;}
.about-02 .about-container:not(.active) .title{color:#000!important;}
.about-02 .about-container > .about-tag .icon{color:#76ced2; border-color:#76ced2;}
.about-02 .about-container .about-side{background-color:#573f77;}


/* About 03 */
.about-03 .slide-container .arrows button::before{color:#000000;}
.about-03 .slick-dots::before{border-color:#000000;}
.about-03 .slick-dots button::before{border-color:#999; background:#ddd;}
.about-03 .slick-dots button::after{background:#8c6ab2;}


/* About 04 */
.about-04 .director-container{
    background-image:linear-gradient(100deg, rgba(82,56,136.8), rgba(113,65,153,.8), 
        rgba(121,75,158,.8), rgba(85,122,167,.8), rgba(55,180,195,.8), 
        rgba(21,194,201,.8), rgba(19,182,191,.8));
}
.about-04 .director-container-02{background:#414256;}
.about-04 .board-card::before{background:#414256;}


/* Banner 01 */
.banner-01 .slick-dots button{border-color:#4b326e;}
.banner-01 .slick-dots .slick-active button{background:#4b326e;}
.banner-01 .slide-container .arrows button{color:#ffffff;}
.banner-01.style-demo .slick-dots button{
    border-color:#8c6ab2; background-color:#8c6ab2; color:#ffffff;
}
.banner-01.style-demo .slick-dots .slick-active button{
    border-color:#4b326e; background-color:#4b326e;
}


/* Breadcrumb 01 */
.breadcrumb-01 a.icon{background:#000000; color:#75ced2;}
.breadcrumb-01 a.text{color:#000000;}
.breadcrumb-01 a.text:hover{color:#169f96;}
.breadcrumb-01.color-white a.icon{background:#75ced2; color:#000000;}
.breadcrumb-01.color-white a.text{color:#ffffff;}
.breadcrumb-01.color-white a.text:hover{color:#169f96;}
.breadcrumb-01 a:last-child{color:#5d4189;}
.breadcrumb-01.style-demo a.icon{background:#6e3b89; color:#75ced2;}
.breadcrumb-01.style-demo a.text{color:#ffffff;}
.breadcrumb-01.style-demo a.text:hover{color:#6e3b89;}
.breadcrumb-01.style-demo a.text em{color:#521368;}


/* Breadcrumb 02 */
.breadcrumb-02 .structure .icon{background:#804097;}


/* Call to Action 01 */
.call-01{background-image:linear-gradient(to right, #55d49b, #1ba297, #18a097);}
.call-01.style-demo{background:#18a097!important;}
.call-01 .contents{color:#ffffff;}


/* Call to Action 04 */
.call-04{background:#ffffff;}
.call-04 .item{background:#ffffff;}
.call-04 .item > *:not(.ss-date){border-color:#feeeee!important;}
.call-04 .item .option{color:#000000;}
.call-04 .item .option:hover{color:#169f96;}
.call-04 .item .option > .icon-container{border-color:#000000; background:#ffffff;}
.call-04 .item .option:hover > .icon-container{border-color:#169f96; background:#169f96;}


/* Client 01 */
.client-01 .slide:first-child::before, .client-01 .slide::after{background:#cecece;}
.client-01 p{color:#000000;}


/* Content 01 */
.content-01 .btn-ad{background:#ffffff;}


/* Content 04 */
.content-04 .slide-container, .content-04 .video-container{background:#ffffff;}
.content-04 .slide-container .arrows button{color:#000000;}
.content-04 .slide-nav .slide > .wrapper{background:#ffffff;}
.content-04 .slide-nav .slide.slick-current > .wrapper{background:#169f96;}
.content-04.style-demo .slide-container .arrows button{background:#000000; color:#ffffff;}


/* Content 06 */
.content-06 .slide-container .arrows button{background:#2c2e2f; color:#ffffff;}
.content-06 .slide-container .slide > .wrapper{background:#ffffff;}


/* Content 08 */
.content-08 .btn-social-white{background:#169f96; color:#ffffff;}
.content-08 .btn-social-white::before{background:transparent;}
.content-08 .btn-social-white:hover::before{background:#ffffff; opacity:1;}
.content-08 .btn-social-white:hover{color:#169f96;}
.content-08 .btn-social-white.tw{background:#39cbed;}
.content-08 .btn-social-white.tw:hover{color:#39cbed;}
.content-08 .btn-social-white.fb{background:#5182f2;}
.content-08 .btn-social-white.fb:hover{color:#5182f2;}
.content-08 .btn-social-white.yt{background:#ff0000;}
.content-08 .btn-social-white.yt:hover{color:#ff0000;}
.content-08 .btn-social-white.in{background:#0077b5;}
.content-08 .btn-social-white.in:hover{color:#0077b5;}


/* FAQ 01 */
.faq-01 .faq{border-color:#ddd;}
.faq-01 .faq .faq-icon{background:#5d4189;}
.faq-01 .faq > .faq-body .faq-icon{background:#169f96;}
.faq-01 .faq .title:hover{color:#5d4189;}

/* FAQ 02 */
.faq-02 .faq{border-color:#ddd;}
.faq-02 .faq .faq-icon{background:#5d4189;}
.faq-02.faq > .faq-body .faq-icon{background:#169f96;}
.faq-02 .faq .title:hover{color:#5d4189;}


/* Tab Container 01 */
.tab-container-01 .tabs{background:#ffffff;}
.tab-container-01 .tab::before{
    background-image:linear-gradient(to right, #169f96, #1a9693, #2c6d88);
}
.tab-container-01 .tab::after{
    background-image:linear-gradient(to right, rgba(255,255,255,.3),
        rgba(255,255,255,.2), rgba(255,255,255,0));
}
.tab-container-01 .tab.tab-main.active{color:#fff!important;}
.tab-container-01 .tab.tab-list::before{background:#000000;}
.tab-container-01 .tab.tab-list.active::before{background:#75ced2;}

/* Tab Container 02 */
.tab-container-02 .tab .text-wrapper{color:#ffffff;}
.tab-container-02 .tab:nth-child(5n+1) .text-wrapper{background:rgba(108,221,237,.8);}
.tab-container-02 .tab:nth-child(5n+2) .text-wrapper{background:rgba(117,206,210,.8);}
.tab-container-02 .tab:nth-child(5n+3) .text-wrapper{background:rgba(140,106,178,.8);}
.tab-container-02 .tab:nth-child(5n+4) .text-wrapper{background:rgba(192,131,188,.8);}
.tab-container-02 .tab:nth-child(5n) .text-wrapper{background:rgba(29,36,85,.8);}

/* Tab Container 03 */
.tab-container-03 .tabs{background:#ffffff;}
.tab-container-03 .tab::before{
    background-image:linear-gradient(to right, #169f96, #1a9693, #2c6d88);
}
.tab-container-03 .tab.active{color:#fff!important;}

/* Tab Container 04 */
.tab-container-04 .tab{background:#ffffff; border-color:#959595!important;}
.tab-container-04 .tab.active{color:#fff!important;}
.tab-container-04 .tab::before{
    background-image:linear-gradient(to right, #169f96, #1a9693, #2c6d88);
}
.tab-container-04.style-demo .tabs{background:#ffffff; border-color:#e0e0e0;}
.tab-container-04.style-demo .tab{border-color:#e0e0e0;}
.tab-container-04.style-demo .tab::before{
    background-image:linear-gradient(to bottom, #169f96, #1a9693, #2c6d88);
}

/* Tab Container - Tabs 01 */
.tab-container .tabs.tabs-01 .tab.active{background:#5d4189;}

/* Tabs Minisite */
.tab-container .tabs.tabs-minisite{background:#169f96;}
.tab-container .tabs.tabs-minisite .tab{color:#ffffff;}
.tab-container .tabs.tabs-minisite .tab:hover{color:#7f3f96;}
.tab-container .tabs.tabs-minisite .tab.active{background:#7f3f96; color:#ffffff!important;}
.tab-container .tabs.tabs-minisite .tab::before{
    background-image:linear-gradient(to right, #ffffff, #ffffff, rgba(255,255,255,0));
}


/* Section Calendar */
.section-calendar > .top-container{background:#8968ae;}
.section-calendar > .middle-container{background:#e5e5e5;}
.section-calendar > .bottom-container{background:#f2f3f2;}
.section-calendar .slide > .wrapper{color:#ffffff;}
.section-calendar .slide > .wrapper::before{
    background-image:linear-gradient(45deg, #955fa9, #803f97, #803f97, #803f97, #803f97);
}
.section-calendar .slide-container .arrows button{color:#ffffff;}
.section-calendar .calendar-tabs::before,
.section-calendar .calendar-tabs::after{border-color:#000000;}
.section-calendar .calendar-tabs .tab:hover .icon,
.section-calendar .calendar-tabs .slick-current > .tab .icon{background:#75ced2;}
.section-calendar .calendar-contents::before{border-color:#000000;}
.section-calendar .calendar-content::before{border-color:#999; background:#ddd;}
.section-calendar .calendar-content::after{background:#8c6ab2;}
@media screen and (min-width:992px){
    .section-calendar .calendar-header .calendar-btn:hover{color:#169f96;}
}

/* Calendar - Month */
.calendar-month .fc-day-header{color:#8b8b8b;}
.calendar-month .fc-day-top > span{background:#169f96; color:#ffffff;}
.calendar-month .fc-day-top.fc-other-month > span{background:#4e4e50;}
.calendar-month .fc-unthemed td.fc-today{background:#4b326e; color:#ffffff;}
.calendar-month .custom-event{color:#8b8b8b;}
.calendar-month .custom-event:hover .title{color:#000000;}
.calendar-month .custom-event.today{color:#ffffff;}
.calendar-month .custom-event.today:hover .title{color:#169f96;}
.calendar-month a.fc-more{color:#999; border-color:#ccc;}
.calendar-month a.fc-more:hover{color:#169f96;}
.calendar-month .fc-day:hover{background:rgba(140,106,178,.25);}
.calendar-month .fc-event-container{background:#f5f5f5;}

/* Calendar - Week */
.calendar-week .custom-date .date-tag{background:#0f9684; color:#ffffff;}
.calendar-week .custom-date.active .date-tag{background:#4b326e;}
.calendar-week .fc-day-grid td.fc-widget-content{border-color:#ddd!important;}
.calendar-week .fc-axis.fc-time.fc-widget-content{background:#eee; color:#000000;}
.calendar-week .fc-time-grid .fc-event{background:#8c6ab2; color:#ffffff;}
.calendar-week .fc-time-grid .fc-event:hover{background:#5d4189;}
.calendar-week .fc-time-grid .fc-event .fc-time{background:#4b326e;}
.calendar-week .fc-toolbar.fc-header-toolbar .fc-button{color:#999;}

/* Calendar - Day */
.calendar-day .fc-toolbar.fc-header-toolbar{border-color:#ddd!important;}
.calendar-day .fc-toolbar.fc-header-toolbar .fc-button{color:#999;}
.calendar-day .fc-axis.fc-time.fc-widget-content{background:#eee; color:#000000;}
.calendar-day .fc-time-grid .fc-event{background:#8c6ab2; color:#ffffff; border-color:#ffffff;}
.calendar-day .fc-time-grid .fc-event:hover{background:#5d4189;}
.calendar-day .fc-time-grid .fc-event .fc-time{background:#4b326e;}


/* Ehia Custom */

/* Ehia Accordion 02 */
.ehia-accordion-02 .ehia-accordion-container{background:#fff;}
.ehia-accordion-02 .ehia-accordion-container:nth-child(2n){background:#ffffff;}
.ehia-accordion-02 .ehia-accordion-container .date{background-color:#75ced2; color:#fff;}
.ehia-accordion-02 .ehia-accordion-container:nth-child(2n) .date{background-color:#1a849e;}
.ehia-accordion-02 .ehia-accordion-container:not(.active) .title{color:#3DB9B2!important;}
.ehia-accordion-02 .ehia-accordion-container .ehia-accordion-header > .ehia-accordion-tag{background-color:#3DB9B2 ;}
.ehia-accordion-02 .ehia-accordion-container .ehia-accordion-header > .ehia-accordion-tag .icon{color:#fff; border-color:#76ced2;}
.ehia-accordion-02 .ehia-accordion-container .ehia-accordion-side{background-color:#573f77;}
.ehia-accordion-02 .ehia-accordion-container .ehia-accordion-header>.ehia-accordion-tag .icon{color:#fff;}

/* Ehia Accordion 03 */
.ehia-accordion-03 .ehia-accordion-container{background:#fff;}
.ehia-accordion-03 .ehia-accordion-container:nth-child(2n){background:#ffffff;}
.ehia-accordion-03 .ehia-accordion-container .date{background-color:#75ced2; color:#fff;}
.ehia-accordion-03 .ehia-accordion-container:nth-child(2n) .date{background-color:#1a849e;}
.ehia-accordion-03 .ehia-accordion-container:not(.active) .title{color:#000!important;}
.ehia-accordion-03 .ehia-accordion-container .ehia-accordion-header > .ehia-accordion-tag{background-color:#3DB9B2 ;}
.ehia-accordion-03 .ehia-accordion-container .ehia-accordion-header > .ehia-accordion-tag .icon{color:#fff; border-color:#76ced2;}
.ehia-accordion-03 .ehia-accordion-container .ehia-accordion-side{background-color:#573f77;}
.ehia-accordion-03 .ehia-accordion-container .ehia-accordion-header>.ehia-accordion-tag .icon{color:#fff;}

/* Buttons 2 */
.btn-icon2.btn-icon-01{background:#4b326e; color:#fff;}
.btn-icon2.btn-icon-01:hover{background:#169f96; color:#fff;}
.btn-action2, .btn-action2:focus, .btn-action2:hover, .btn-action2:active{
    background:#1EA9A6; color:#fff;
}
.btn-action2.btn-action2-01::before{background:#ccc;}

/* Buttons 3 */
.btn-icon3.btn-icon-01{background:#4b326e; color:#fff;}
.btn-icon3.btn-icon-01:hover{background:#000202; color:#fff;}
.btn-action3, .btn-action3:focus, .btn-action3:hover, .btn-action3:active{
    background: rgb(79,48,110);
background: linear-gradient(87deg, rgba(79,48,110,1) 0%, rgba(102,38,110,1) 100%); color:#fff;
}
.btn-action3.btn-action3-01::before{background:#ccc;}
