
/* Tree */
.tree .node{width:200px; padding:0; text-align:center;}
.tree .node > p:first-child{
    position:relative; width:100%; padding:9px 5px; font-size:20px; overflow:hidden;
    border-radius:3px; background:#32256b; color:#fff;
}
.tree .node > p:first-child::before{
    content:''; position:absolute; top:0; left:0; width:29px; height:29px; background:#4b3e84;
    transform-origin:top left; transform:rotate(45deg);
    box-shadow:rgba(0,0,0,.8) 0px 25px 50px;
}
.tree .node.node-1 > p:first-child{background:#94b530;}
.tree .node.node-1 > p:first-child::before{background:#aab332;}
.tree .node.node-2 > p:first-child{background:#5e4297;}
.tree .node.node-2 > p:first-child::before{background:#7859b4;}
.tree .node.node-3 > p:first-child{background:#2896b7;}
.tree .node.node-3 > p:first-child::before{background:#45a6b6;}
.tree .node.node-4 > p:first-child{background:#6bb9c3;}
.tree .node.node-4 > p:first-child::before{background:#8abfc5;}
.tree .node.node-5 > p:first-child{background:#812886;}
.tree .node.node-5 > p:first-child::before{background:#844b8f;}
.tree .node.node-6 > p:first-child{
    background:transparent; border:2px solid #d6d6d8; color:#1b1b1b;
}
.tree .node.node-6 > p:first-child::before{background:#ebebeb; box-shadow:none; z-index:-1;}

.tree .node.node-list{background:none!important;}
.tree .node.node-list > p:first-child{
    padding:0 0 0 10px; font-size:18px; color:#000; white-space:normal; text-align:left;
}
.tree .node.node-list > p:first-child::before{display:none!important;}

.tree .node ul{
    display:block; position:relative; padding:5px 0 0 0; margin:0; list-style:none;
    text-align:left; font-size:18px;
}
.tree .node ul::before{
    content:''; position:absolute; top:0; bottom:0; left:5px; width:1px; background:#d6d6d8;
}
.tree .node ul > li{position:relative; width:100%; padding:5px 0 0 30px; color:#777;}
.tree .node ul > li::before{
    content:''; position:absolute; top:15px; left:5px; width:15px; height:1px;
    background:#d6d6d8;
}
.tree .node ul > li:last-child::after{
    content:''; position:absolute; top:16px; bottom:0; left:0; width:10px; background:#fff;
}

.tree .node.node-5 > p:first-child{padding:5px 5px;}
.tree .node.node-5 > p:first-child::before{width:37px; height:37px;}
.tree .node.node-5 > p:first-child > span{font-size:16px;}
.tree .node.node-6 > p:first-child > span{font-size:17px; color:#777;}

.tree .node.node-6{width:100%;}
.tree .node-wrapper{position:relative; width:100%; padding:15px 0 0 20px;}
.tree .node-wrapper::before{
    content:''; position:absolute; top:0; bottom:0; left:10px; width:1px; background:#000;
}
.tree .node-wrapper .node{position:relative; margin:20px 0 0 0;}
.tree .node-wrapper .node:first-child{margin:0;}
.tree .node-wrapper .node::before{
    content:''; position:absolute; top:20px; right:100%; width:10px;
    height:1px; background:#000;
}
.tree .node-wrapper .node:last-child::after{
    content:''; position:absolute; top:21px; bottom:0; right:100%; width:15px;
    background:#fff;
}
