
/* Tree */
.tree .node{
    width:180px; padding:20px 8px; min-height:56px; display:flex!important; align-items:center;
    border-radius:0; box-shadow:rgba(58,45,45,.1) 0px 10px 20px;
}
.tree .node > p{
    margin:0; font-size:16px; font-weight:100; color:#fff; width:100%; text-align:center;
}
.tree .node.root{background:#2a2859; width:260px; padding:30px 15px;}
.tree .node.root > p{position:relative; font-size:22px; font-weight:400; color:#fff;}
.tree .node.node-1{background:#331131;}
.tree .node.node-2{background:#591e56;}
.tree .node.node-3{background:#a638a0;}

.tree .node.h-root{
    width:340px; background:#2a2859; color:#fff; justify-content:center;
    padding:0 10px; font-size:1.25rem; font-weight:500; line-height:1; min-height:42px;
    box-shadow:rgba(58,45,45,.15) 0px 10px 20px;
}
.tree .node.h-root.h-root-2{font-size:1.125rem; font-weight:300;}
.tree .node.h-root.h-root-3{
    width:300px; padding:20px; background:#a64299; font-size:.8125rem; font-weight:300;
    color:#fff; line-height:1.6;
}

.tree .node.d-node{
    flex-wrap:wrap; width:260px; padding:0; box-shadow:rgba(58,45,45,.05) 0px 10px 20px;
}
.tree .node.d-node > *{width:100%; display:block; font-size:.875rem; font-weight:300;}
.tree .node.d-node .wrapper{width:100%; text-align:center;}
.tree .node.d-node > .title, .tree .node.d-node > .subtitle{
    display:flex; align-items:center; justify-content:center; background:#6b2468;
    padding:5px 10px; color:#fff; font-size:.9375rem; min-height:55px;
}
.tree .node.d-node > .subtitle{
    background:#382138; padding:6px 10px; font-size:.8125rem; min-height:50px; font-weight:100;
}
.tree .node.d-node > .title ol, .tree .node.d-node > .subtitle ol{
    width:100%; text-align:left; font-size:.8125rem; margin:.0625rem 0 0 0; padding:0 0 0 1.5rem;
}
.tree .node.d-node > .desc{
    width:100%; background:#e5e4e4; color:#6c6c6c; padding:8px 10px;
    font-size:.8125rem; font-weight:200;
}
.tree .node.d-node > .desc ul{width:100%; text-align:left; margin:0; padding:0 0 0 1.5rem;}
.tree .node.d-node.d-node-2 > .title{background:#61accf;}
.tree .node.d-node.d-node-2 > .subtitle{background:#3c5964;}

.tree .node.m-node{
    display:block!important; width:180px; background:#fff; color:#000;
    border:1px solid #ddd; border-radius:4px; box-shadow:none; cursor:pointer;
    padding:10px 10px 5px 10px; transition:background .25s;
}
.tree .node.m-node:hover{background:#481b79;}
.tree .node.m-node > .img-container{
    width:100%; padding:100% 0 0 0; border-radius:4px; background-size:cover;
    background-position:center;
}
.tree .node.m-node > .title{
    width:100%; text-align:center; margin:5px 0 0 0; font-size:18px; font-weight:600;
    color:#000; transition:color .25s;
}
.tree .node.m-node:hover > .title{color:#fff;}

.tree .node.m-node.m-node-2{display:flex!important; align-items:center; padding:10px;}
.tree .node.m-node.m-node-2 > .img-container{
    width:35px; height:35px; padding:0; margin:0 10px 0 0;
}
.tree .node.m-node.m-node-2 > .title{
    width:calc(100% - 45px); text-align:left; margin:0; font-size:16px; font-weight:300;
}
