
/* Topnav */
nav.topnav{position:fixed; top:0; left:0; width:100%; transition:transform .3s; z-index:95;}
nav.topnav .topnav-wrapper{
    width:100%; display:flex; align-items:center; justify-content:space-between;
}
nav.topnav .logo{display:flex; align-items:center; font-size:1rem; line-height:1;}
nav.topnav .logo:hover{opacity:.75;}
nav.topnav .logo img{display:block; height:3.5rem; width:auto; margin:0 .625rem 0 0;}
nav.topnav .logo h2{font-size:1.625rem; font-weight:500; white-space:nowrap;}
nav.topnav .logo p{white-space:nowrap;}

nav.topnav .top-container{display:flex; justify-content:flex-end;}
nav.topnav .top-container > .wrapper{position:relative; padding:.25rem 0;}
nav.topnav .top-container > .wrapper::before{
    content:''; position:absolute; top:0; bottom:0; left:-12rem; width:calc(50vw + 12rem);
}
nav.topnav .top-container .items{position:relative; display:flex; align-items:center;}
nav.topnav .top-container .item{
    display:flex; align-items:center; margin:0 0 0 1.25rem; font-size:1.25rem; font-weight:200;
}
nav.topnav .top-container .item i{font-size:1.1875rem; margin:0 .125rem 0 0;}
nav.topnav .top-container .item a:hover{opacity:.75;}
nav.topnav .top-container .item a.btn-icon:hover{opacity:1;}

nav.topnav .bottom-container{display:flex; justify-content:flex-end;}
nav.topnav .bottom-container > .wrapper{position:relative;}
nav.topnav .bottom-container > .wrapper::before{
    content:''; position:absolute; top:0; bottom:0; left:-5rem; width:calc(60vw + 5rem);
}
nav.topnav .menu-container{display:flex; align-items:center;}
nav.topnav .menu{position:relative;}
nav.topnav .menu::before{
    content:''; position:absolute; top:0; bottom:0; left:0; right:0; opacity:0;
    transition:opacity .25s;
}
nav.topnav .menu:hover::before, nav.topnav .menu.active::before{opacity:1;}
nav.topnav .menu.menu-icon:last-child::before{display:none;}
nav.topnav .menu > a{
    display:block; position:relative; font-size:1.3125rem; font-weight:300;
    padding:.8125rem 1.125rem;
}
nav.topnav .menu.menu-icon > a{
    width:3.25rem; height:3.25rem; line-height:3.5rem; text-align:center; padding:0;
    font-size:1.5rem;
}
nav.topnav .menu.menu-icon:last-child > a{width:auto; padding-left:.75rem;}
nav.topnav .menu.menu-icon:last-child > a:hover{opacity:.75;}

nav.topnav .pc-container{display:block;}
nav.topnav .mobile-container{display:none;}
nav.topnav .mobile-container .menu::before{display:none;}
nav.topnav .mobile-container .menu:hover{opacity:.75;}
nav.topnav .mobile-container .menu.menu-icon > a{
    width:auto; height:4.125rem; padding:0 .6875rem; display:flex; align-items:center;
}
nav.topnav .mobile-container .menu.menu-icon:last-child > a{padding:0 0 0 .6875rem;}

nav.topnav + .topnav-spacer{display:block; width:100%; height:5.5rem;}

.topnav-dropdown{
    display:none; position:fixed; top:5.5rem; left:0; width:100%; overflow:hidden; z-index:94;
}
.topnav-dropdown .dropdown-wrapper{
    position:relative; width:100%; height:calc(100vh - 5.5rem); background-size:cover;
    background-position:bottom center; padding:0 1.5rem 1.5rem 1.5rem;
}
.topnav-dropdown h2{font-size:3.5rem; font-weight:600;}
.topnav-dropdown img.hero{
    display:block; width:10rem; height:auto; position:absolute; bottom:1.5rem; left:1.5rem;
}
.topnav-dropdown .scroll-wrapper{
    width:100%; height:calc(100vh - 15rem); max-height:calc(100vh - 15rem);
    overflow-x:hidden; overflow-y:auto;
}
.topnav-dropdown + .topnav-dropdown-filter{
    display:block; position:fixed; top:0; left:0; width:100vw; height:100vh; z-index:93;
    background:#000; opacity:0; pointer-events:none; cursor:pointer; transition:opacity .5s;
}
.topnav-dropdown.active + .topnav-dropdown-filter{opacity:.4; pointer-events:all;}

@media screen and (max-width:1199.98px){
    nav.topnav .logo img{height:3rem; margin:0 .5rem 0 0;}
    nav.topnav .logo h2{font-size:1.5625rem;}
    nav.topnav .pc-container{display:none;}
    nav.topnav .mobile-container{display:flex;}
    nav.topnav + .topnav-spacer{height:4.125rem;}
    .topnav-dropdown{top:4.125rem;}
    .topnav-dropdown .dropdown-wrapper{height:calc(100vh - 4.125rem);}
}
@media screen and (max-width:991.98px){
    .topnav-dropdown h2{font-size:3rem;}
    .topnav-dropdown img.hero{width:7.5rem; top:1.5rem; bottom:auto; left:auto; right:1.5rem;}
    .topnav-dropdown .scroll-wrapper{height:calc(100vh - 20rem); max-height:calc(100vh - 20rem);}
}
@media screen and (max-width:767.98px){
    .topnav-dropdown h2{font-size:2.75rem;}
    .topnav-dropdown img.hero{width:7rem;}
    .topnav-dropdown .scroll-wrapper{height:calc(100vh - 21rem); max-height:calc(100vh - 21rem);}
}
@media screen and (max-width:575.98px){
    nav.topnav .logo .text-wrapper{display:none;}
    .topnav-dropdown .scroll-wrapper{height:calc(100vh - 24rem); max-height:calc(100vh - 24rem);}
}



/* Sidenav */
nav.sidenav{
    display:none; position:fixed; top:0; right:0; width:340px; height:100vh; z-index:98;
    transform:translateX(340px); transition:transform .5s;
}
nav.sidenav > .wrapper{position:relative; width:100%; height:100%; overflow:hidden;}
nav.sidenav .sidenav-toggle{
    position:absolute; top:0; right:0; width:3.75rem; height:3.75rem; cursor:pointer; z-index:1;
    display:flex; align-items:center; justify-content:center; border-left:1px solid transparent;
}
nav.sidenav .scroll-wrapper{
    width:100%; height:calc(100% - 11.5rem); max-height:calc(100% - 11.5rem);
    overflow-x:hidden; overflow-y:auto; border-top:1px solid transparent;
    margin:3.75rem 0 0 0;
}
nav.sidenav .item{display:flex; align-items:center;}
nav.sidenav .menu > a{display:block;}
nav.sidenav .menu > a, nav.sidenav .item{
    position:relative; width:100%; height:auto; text-decoration:none;
    padding:1rem 2rem 1rem 1rem; margin:0; font-size:1.375rem;
    border-bottom:1px solid transparent; min-height:3.3125rem; 
    transition:color .3s, background .3s;
}
nav.sidenav .item > a:not(.btn-icon){width:100%;}
nav.sidenav + .sidenav-filter{
    display:none; position:fixed; top:0; left:0; width:100%; height:100vh; z-index:97;
    background:#000; opacity:0; pointer-events:none; cursor:pointer; transition:opacity .5s;
}
@media screen and (max-width:1199.98px){
    nav.sidenav{display:block;}
    nav.sidenav.active{transform:translateX(0);}
    nav.sidenav + .sidenav-filter{display:block;}
    nav.sidenav.active + .sidenav-filter{opacity:.65; pointer-events:all;}
}


/* Global Search */
.global-search-container{
    display:block; position:fixed; top:0; left:0; width:100%; height:100vh; z-index:100;
    opacity:0; pointer-events:none; background:rgba(0,0,0,.65); backdrop-filter:blur(5px);
}
.global-search-container:not(.use-gsap){transition:opacity .45s;}
.global-search-container.active{opacity:1; pointer-events:all;}
.global-search-container > .wrapper{
    position:relative; width:100%; height:100%; padding:1.5rem 1.5rem 6rem 1.5rem;;
}
.global-search-container .container{
    position:relative; height:100%;; display:flex; align-items:center;
}
.global-search-container .hamburger{position:absolute; top:0; right:0; z-index:1;}
.global-search-container form{width:100%; max-width:450px; margin:0 auto; position:relative;}
.global-search-container .input-container{position:relative;}
.global-search-container input[type=text]{
    width:100%; font-size:1rem; border:1.5px solid transparent; border-radius:.3125rem;
    padding:.75rem 3.5rem .75rem .75rem; margin:.25rem 0 0 0; box-shadow:none;
    transition:border-color .3s;
}
.global-search-container button{
    position:absolute; top:0; bottom:0; right:0; width:3.5rem; background:transparent;
    box-shadow:none; outline:none; border:0; font-size:1.75rem; padding:0; text-align:center;
    cursor:pointer; transition:color .3s;
}


/* Back to Top */
.back-to-top{
    display:block; text-decoration:none; width:3rem; height:3rem; border-radius:.3125rem;
    text-align:center; line-height:3.25rem; font-size:1.25rem; opacity:0; z-index:90;
    position:fixed; bottom:1rem; right:1rem; border:1.8px solid transparent;
    pointer-events:none; transition:opacity .3s;
}
.back-to-top.active{opacity:.6; pointer-events:all;}
.back-to-top.active:hover{opacity:1;}
.back-to-top > i{transform:translateY(-.1875rem);}
