
/* Topnav */
nav.topnav{position:fixed; top:0; left:0; width:100%; transition:transform .3s; z-index:95;}
nav.topnav.sticky{transform:translateY(-3.0625rem);}
nav.topnav > .top-container{
    position:relative; width:100%; background-position:center; background-size:cover;
    padding:.375rem 0 calc(.375rem + 2px) 0; background-repeat:no-repeat;
}
nav.topnav > .top-container::after{
    content:''; position:absolute; bottom:0; left:0; right:0; height:2px; pointer-events:none;
    background-image:linear-gradient(to right,#d2bf73,#ddc256,#e7d181,#bb8932,#bb8a42,#f4efe7,
        #cfa74d, #ddc256, #d1ae65);
}
nav.topnav > .top-container .blocks{
    width:100%; display:flex; align-items:center; justify-content:space-between;
    flex-wrap:wrap;
}
nav.topnav > .top-container .block{display:flex; align-items:center;}
nav.topnav > .top-container .block > .option{
    margin:.25rem 0; font-size:.875rem; font-weight:100; color:#fff;
}
nav.topnav > .bottom-container{
    width:100%; background-position:center; background-size:cover; position:relative;
    background-repeat:no-repeat;
}
nav.topnav > .bottom-container::after{
    content:''; position:absolute; top:100%; left:0; right:0; height:2px; pointer-events:none;
    background-image:linear-gradient(to right,#d2bf73,#ddc256,#e7d181,#bb8932,#bb8a42,#f4efe7,
        #cfa74d, #ddc256, #d1ae65); z-index:1;
}
nav.topnav > .bottom-container > .container > .wrapper{
    width:100%; display:flex; align-items:center; justify-content:space-between;
}
nav.topnav .logo{
    display:flex; align-items:center; text-decoration:none; margin:.5rem .5rem .5rem 0;
    transition:opacity .3s;
}
nav.topnav .logo:hover{opacity:.75;}
nav.topnav .logo > img{display:block; height:3.625rem; width:auto; transform:translateY(.1875rem);}
nav.topnav .logo > .text{margin:0 0 0 .75rem;}
nav.topnav .logo h1{
    margin:0; line-height:1; font-weight:400; font-size:1.5625rem;
    -webkit-background-clip:text; -webkit-text-fill-color:transparent;
    background-image:linear-gradient(to right,#d2bf73,#ddc256,#bb8a42,#f4efe7,
        #cfa74d, #ddc256, #d1ae65);
}
nav.topnav .logo h5{
    font-size:.9375rem; margin:.25rem 0 0 0; line-height:1; font-weight:100; color:#fff;
}
nav.topnav .menu-container{
    display:flex; position:relative; counter-reset:topnavCounter;
    background-image:linear-gradient(45deg,#652b74,#6b3179,#4d1959);
}
nav.topnav .menu-container::after{
    content:''; position:absolute; top:0; bottom:0; right:0; width:1px; pointer-events:none;
    background-image:linear-gradient(to bottom,#8e6099,#dacdc1,#e0d1a8,#dac57a);
}
nav.topnav .menu{
    position:relative; background-size:cover; background-position:center;
    background-repeat:no-repeat; transition:background .3s;
}
nav.topnav .menu::after{
    content:''; position:absolute; top:0; bottom:0; left:0; width:1px; pointer-events:none;
    background-image:linear-gradient(to bottom,#8e6099,#dacdc1,#e0d1a8,#dac57a);
}
nav.topnav .menu::before{
    content:''; position:absolute; top:0; bottom:0; left:0; pointer-events:none; opacity:0;
    right:0; background-size:cover; background-position:center; background-repeat:no-repeat; 
    background-image:url('../images/bg/08.png'); transition:opacity .3s;
}
nav.topnav .menu:hover::before{opacity:1;}
nav.topnav .menu > a{
    display:block; position:relative; text-decoration:none; padding:2.125rem 1rem .75rem 1rem;
    font-size:.875rem; color:#fff; font-weight:100; white-space:nowrap; transition:color .3s;
}
nav.topnav .menu:hover > a, nav.topnav .menu:hover > a::before{color:#f1d13d;}
nav.topnav .menu > a::before{
    counter-increment:topnavCounter; content:counters(topnavCounter, '.', decimal-leading-zero);
    font-size:160%; font-weight:200; margin:0 .25rem 0 0; transition:color .3s;
}
nav.topnav .menu.menu-icon > a{
    min-width:3.875rem; padding:1.125rem .625rem .75rem .625rem; text-align:center;
}
nav.topnav .menu.menu-icon > a::before{display:none;}
nav.topnav .menu.menu-icon > a > img{display:block; height:1.5rem; width:auto; margin:0 auto;}
nav.topnav .menu.menu-icon .flag-icon{
    display:block; width:1.5rem; height:1.5rem; border-radius:50%; background-size:cover;
    background-position:center; background-repeat:no-repeat; margin:0 auto;
}
nav.topnav .menu.menu-icon p{margin:.3125rem 0; text-align:center; font-size:.6875rem;}
nav.topnav .menu.menu-icon .icon{display:block; line-height:1; margin:0 auto; font-size:1.5rem;}
nav.topnav .menu.menu-icon .icon-bottom{
    position:absolute; bottom:.25rem; left:0; right:0; font-size:.6875rem;
}
nav.topnav .menu > .dropdown{
    position:absolute; top:calc(100% + .3125rem); left:0; background:#fff; opacity:0;
    box-shadow:0px 0px 20px 0px rgba(82,63,105,.22); pointer-events:none;
    padding:.625rem 0 .5rem 0; transition:top .3s, opacity .3s;
}
nav.topnav .menu:hover > .dropdown{top:100%; opacity:1; pointer-events:auto;}
nav.topnav .menu > .dropdown a{
    display:block; position:relative; padding:.5rem .75rem .25rem .75rem;
    text-decoration:none; transition:background .3s;
}
nav.topnav .menu > .dropdown a:hover{background:#eee;}
nav.topnav .menu > .dropdown a > p{
    margin:.3125rem 0 0 0; text-align:center; font-size:.75rem; white-space:nowrap;
    color:#000; font-weight:600;
}

nav.topnav .menu > .submenu-dropdown{
    position:fixed; left:0; width:100vw; opacity:0; pointer-events:none;
    transform:translateY(.375rem); transition:opacity .3s, transform .3s;
}
nav.topnav .menu:hover > .submenu-dropdown{opacity:1; pointer-events:auto; transform:translateY(0);}
nav.topnav .menu > .submenu-dropdown > .wrapper{width:100%; display:flex; position:relative;}
nav.topnav .submenu-dropdown .hero{
    width:28vw; background-size:cover; background-position:center; background-repeat:no-repeat;
}
nav.topnav .submenu-container{
    position:relative; width:18rem; padding:.875rem 0 1.75rem 0; margin:0; list-style:none;
    height:calc(100vh - 15rem); max-height:calc(100vh - 15rem);
}
nav.topnav .submenu-container .simplebar-wrapper{
    height:calc(100vh - 15rem); max-height:calc(100vh - 15rem);
}
nav.topnav .submenu-container::after{
    content:''; position:absolute; top:100%; left:0; width:4.5rem; height:2.25rem;
    background-image:url('../images/hero/01.png');
    background-size:100% auto; background-position:top left; background-repeat:no-repeat;
}
nav.topnav .submenu-container.level-1::after,
nav.topnav .submenu-container.level-2::after{display:none;}
nav.topnav .submenu-container .submenu > a{
    position:relative; display:block; width:100%; font-size:.93875rem; font-weight:100;
    padding:.75rem 1rem .75rem 2rem; text-decoration:none; line-height:1.25;
    transition:background .2s, color .2s;
}
nav.topnav .submenu-container .submenu > a::before{
    content:'\f054'; font-family:'Font Awesome 5 Free'; font-weight:900; font-size:.5625rem;
    position:absolute; top:0; bottom:0; left:1rem; display:flex; align-items:center;
}
nav.topnav .submenu > .submenu-container{
    position:fixed; top:0; bottom:0; opacity:0; pointer-events:none; visibility:hidden;
    transition:opacity .3s;
}
nav.topnav .submenu > .submenu-container.level-1{left:calc(28vw + 18rem);}
nav.topnav .submenu > .submenu-container.level-2{left:calc(28vw + 36rem);}
nav.topnav .submenu:hover > .submenu-container{
    opacity:1; pointer-events:auto; visibility:visible;
}

nav.topnav .menu-mobile{display:none;}
nav.topnav .menu-mobile > .sidenav-btn{padding:1rem 0 1rem 1rem;}

.topnav-filter{
    content:''; position:fixed; top:0; left:0; width:100vw; height:100vh; background:#000;
    opacity:0; pointer-events:none; transition:opacity .3s; z-index:94;
}
.topnav-filter.active{opacity:.65;}

nav.topnav ~ .topnav-spacer{display:block; width:100%; height:8rem;}

@media screen and (max-width:1299.98px){
    nav.topnav .submenu-dropdown .hero{width:24vw;}
    nav.topnav .submenu > .submenu-container.level-1{left:calc(24vw + 18rem);}
    nav.topnav .submenu > .submenu-container.level-2{left:calc(24vw + 36rem);}
}
@media screen and (max-width:1199.98px){
    nav.topnav.sticky{transform:translateY(0);}
    nav.topnav > .top-container{display:none;}
    nav.topnav .menu-container{display:none;}
    nav.topnav .menu-mobile{display:block;}
    nav.topnav ~ .topnav-spacer{height:4.625rem;}
}
@media screen and (max-width:767.98px){
    nav.topnav .logo{width:calc(100% - 3.25rem);}
    nav.topnav .logo > img{display:block; height:3.5rem; width:auto;}
    nav.topnav .logo > .text{margin:0 0 0 .625rem; width:calc(100% - 5rem);}
    nav.topnav .logo h5{margin:0;}
    nav.topnav ~ .topnav-spacer{height:4.4375rem;}
}


/* Sidenav */
nav.sidenav{
    display:none; position:fixed; top:0; right:0; width:340px; height:100vh; z-index:98;
    transform:translateX(340px); transition:transform .5s;
}
nav.sidenav > .wrapper{position:relative; width:100%; height:100%; overflow:hidden;}
nav.sidenav .sidenav-btn{
    position:absolute; top:0; right:0; width:3.75rem; height:3.75rem; cursor:pointer;
    display:flex; align-items:center; justify-content:center; border-left:1px solid transparent;
}
nav.sidenav .options{display:flex; width:100%; margin:3.75rem 0 0 0;}
nav.sidenav .options > .option{
    width:25%; height:3.4125rem; position:relative; cursor:pointer;
    border-top:1px solid transparent; border-right:1px solid transparent;
    display:flex; align-items:center; justify-content:center;
}
nav.sidenav .options > .option:nth-child(5n){border-right:0;}
nav.sidenav .option > .icon{font-size:1rem; font-weight:400;}
nav.sidenav .option i{font-size:1rem;}
nav.sidenav .option > .dropdown{
    position:absolute; top:calc(100% + .25rem); left:-1px; right:-1px; opacity:0;
    pointer-events:none; z-index:1; transition:opacity .3s, top .3s;
}
nav.sidenav .option:hover > .dropdown{opacity:1; top:100%; pointer-events:all;}
nav.sidenav .option > .dropdown > *{
    display:flex; align-items:center; justify-content:center; width:100%; height:3.4125rem;
    text-decoration:none; border-radius:0; border-top:0; border-bottom:1px solid transparent;
    border-left:1px solid transparent; border-right:1px solid transparent;
    font-size:1rem; font-weight:400;
}
nav.sidenav .option > .dropdown > *:first-child{border-top:1px solid transparent;}
nav.sidenav .option .flag{
    width:1.5rem; height:1rem; border-radius:.125rem; background-size:cover;
    background-position:center; background-repeat:no-repeat;
}
nav.sidenav .option [data-theme="0"]{background:#fff!important; color:#000!important;}
nav.sidenav .option [data-theme="1"]{background:#000!important; color:#fff!important;}
nav.sidenav .option [data-theme="2"]{background:#000!important; color:#ffff00!important;}
nav.sidenav .scroll-wrapper{
    width:100%; height:calc(100% - 11.5rem); max-height:calc(100% - 11.5rem);
    overflow-x:hidden; overflow-y:auto; border-top:1px solid transparent;
}
nav.sidenav .empty{display:none;}
nav.sidenav .menu{position:relative;}
nav.sidenav .menu .dropdown-toggle{
    position:absolute; right:0; top:0; width:3.75rem; height:3.3125rem; text-align:center;
    line-height:3.3125rem; cursor:pointer; font-size:.875rem;
}
nav.sidenav .menu .dropdown-toggle > i{transition:transform .3s, color .3s;}
nav.sidenav .menu .dropdown-toggle.active > i{transform:rotate(90deg);}
nav.sidenav .has-children > a{position:relative;}
nav.sidenav .has-children > a::after{
    content:''; position:absolute; top:0; bottom:0; right:3.6875rem; width:1px;
}
nav.sidenav .dropdown-toggle::after{display:none!important;}
nav.sidenav .menu > a{
    display:block; position:relative; width:100%; height:auto; text-decoration:none;
    padding:.875rem 2rem .875rem 1rem; margin:0; font-size:1rem; font-weight:300; line-height:1.25;
    border-bottom:1px solid transparent; min-height:3.3125rem; transition:color .3s, background .3s;
}
nav.sidenav .menu > a i{display:inline-block; font-size:.875rem; width:2rem;}
nav.sidenav .submenu-dropdown{display:none;}
nav.sidenav .submenu-dropdown .hero{display:none;}
nav.sidenav .submenu{position:relative;}
nav.sidenav .submenu > a{
    display:block; width:100%; text-decoration:none; padding:.875rem 2rem .875rem 1rem;
    margin:0; font-size:1rem; font-weight:300; min-height:3.3125rem; line-height:1.25;
    border-bottom:1px solid transparent; transition:background .3s, color .3s;
}
nav.sidenav .submenu-container.level-1,
nav.sidenav .submenu-container.level-2{display:none;}
nav.sidenav .submenu-container.level-1 > .submenu > a{
    display:block; width:100%; text-decoration:none; padding:.875rem 2rem .875rem 1rem;
    margin:0; font-size:1rem; font-weight:300; border-bottom:1px solid transparent;
    transition:background .3s, color .3s;
}
nav.sidenav .has-children > a{padding:.875rem 4.75rem .875rem 1rem!important;}

nav.sidenav ~ .sidenav-filter{
    display:none; position:fixed; top:0; left:0; width:100%; height:100vh; cursor:pointer; z-index:97;
    background:#000; opacity:0; pointer-events:none; transition:opacity .5s;
}

@media screen and (max-width:1199.98px){
    nav.sidenav{display:block;}
    nav.sidenav.active{transform:translateX(0);}
    nav.sidenav ~ .sidenav-filter{display:block;}
    nav.sidenav.active ~ .sidenav-filter{opacity:.5; pointer-events:all;}
}


/* Footer */
nav.footer{width:100%;}
nav.footer > .footer-top{width:100%; overflow:hidden; padding:1rem 0 0 0;}
nav.footer .blocks{width:100%; display:flex; justify-content:space-between; flex-wrap:wrap;}
nav.footer .block{width:auto; max-width:35%; border-left:1px solid transparent; margin:1.5rem 0 0 0;}
nav.footer .block > .wrapper{
    padding:0 1.5rem 1rem .5rem;
    box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;
}
nav.footer .block:last-child > .wrapper{padding-right:0;}
nav.footer .block h4{margin:0; font-size:1.0625rem; line-height:1.25; font-weight:200;}
nav.footer .ss-list > li{color:#fff; font-weight:100;}
nav.footer .ss-list > li > a{font-weight:100; font-size:.875rem; transition:color .3s;}
nav.footer > .footer-bottom{width:100%; overflow:hidden; padding:.75rem 0 1.5rem 0;}
nav.footer > .footer-bottom .wrapper{
    width:100%; display:flex; justify-content:space-between; align-items:center; flex-wrap:wrap;
}
nav.footer > .footer-bottom .wrapper > *{display:block; margin:.75rem 0;}
nav.footer > .footer-bottom .wrapper > p{font-size:.9375rem; font-weight:300;}
nav.footer > .footer-bottom .wrapper > .count-area{
    display:block; width:14rem; padding:.4375rem 1.125rem; text-align:center; border-radius:1000em;
    font-size:.8375rem; font-weight:300;
}
@media screen and (max-width:1199.98px){
    nav.footer .block{max-width:30%;}
}
@media screen and (max-width:991.98px){
    nav.footer .block{width:calc((100% - 1.5rem) / 2); max-width:100%;}
    nav.footer .block > .wrapper{padding:0 0 1rem .5rem!important;}
    nav.footer > .footer-bottom .wrapper{justify-content:center;}
    nav.footer > .footer-bottom .wrapper > p{width:100%; text-align:center;}
    nav.footer > .footer-bottom .wrapper > .count-area{margin:0 auto;}
}
@media screen and (max-width:575.98px){
    nav.footer .block{width:100%;}
}


/* Global Search */
.global-search-container{
    display:block; position:fixed; top:0; left:0; width:100vw; height:100vh; z-index:100;
    opacity:0; pointer-events:none; background:rgba(0,0,0,.65);
}
.global-search-container:not(.use-gsap){transition:opacity .45s;}
.global-search-container.active{opacity:1; pointer-events:all;}
.global-search-container > .wrapper{
    position:relative; width:100%; height:100%; padding:1.5rem 1.5rem 6rem 1.5rem;;
    display:flex; align-items:center;
}
.global-search-container .hamburger{position:absolute; top:2.5rem; right:2.5rem; transform:scale(1.2);}
.global-search-container form{width:100%; max-width:450px; margin:0 auto; position:relative;}
.global-search-container .input-container{position:relative;}
.global-search-container input[type=text]{
    width:100%; font-size:1rem; border:1.5px solid transparent; border-radius:.3125rem;
    padding:.75rem 3.5rem .75rem .75rem; margin:.25rem 0 0 0; box-shadow:none;
    transition:border-color .3s;
}
.global-search-container button{
    position:absolute; top:0; bottom:0; right:0; width:3.5rem; background:transparent;
    box-shadow:none; outline:none; border:0; font-size:1.75rem; padding:0; text-align:center;
    cursor:pointer; transition:color .3s;
}


/* Back to Top */
.back-to-top{
    display:block; text-decoration:none; width:3rem; height:3rem; border-radius:.3125rem;
    text-align:center; line-height:3.25rem; font-size:1.25rem; opacity:0; z-index:90;
    position:fixed; bottom:1rem; right:1rem; border:1.8px solid transparent;
    pointer-events:none; transition:opacity .3s;
}
.back-to-top.active{opacity:.6; pointer-events:all;}
.back-to-top.active:hover{opacity:1;}
.back-to-top > i{transform:translateY(-.1875rem);}
