/* Reset */
html, body{
    padding:0; margin:0; overflow-x:hidden; overflow-y:auto; font-family:'DB HEAVENT', sans-serif;
    font-size:16px; font-weight:300; line-height:1.1;
}
body.loading{height:100vh!important; overflow-y:hidden!important;}

*{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; outline:none;}

a{transition:opacity .25s, color .25s;}
a, a:hover{text-decoration:none;}
a.link{text-decoration:underline; font-weight:400;}
a.link:hover{color:#fff;}

img.img{display:block; width:100%; height:auto;}
.img-fill{background-size:cover; background-position:center; background-repeat:no-repeat;}
.fit{position:absolute; top:0; bottom:0; left:0; right:0;}

i.zmdi{transform:translateY(.125rem);}
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], select, textarea, button{
    font-family:'DB HEAVENT', sans-serif;
}
@media screen and (max-width:991.98px){
    html.sidenav-opened, body.sidenav-opened{overflow-y:hidden!important;}
}


/* Section & Container */
.section-padding{padding:4rem 0;}
.section-bpadding{padding:4.25rem 0 4rem 0;}
.section-bg{background-size:cover; background-position:center; background-repeat:no-repeat;}
.section-bg-hero{width:100%; position:relative;}
.section-bg-hero > .bg-hero{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:100% auto;
    background-repeat:no-repeat; background-position:top center;
}
.section-bg-hero > .container{position:relative;}
@media screen and (max-width:1199.98px){
    .section-bg-hero > .bg-hero{left:calc(50vw - 700px); right:calc(50vw - 700px);}
}
@media screen and (max-width:991.98px){
    .section-padding{padding:3rem 0;}
    .section-bpadding{padding:4.25rem 0 3rem 0;}
    .section-bg-hero > .bg-hero{left:calc(50vw - 650px); right:calc(50vw - 650px);}
}
@media screen and (max-width:767.98px){
    .section-bg-hero > .bg-hero{left:calc(50vw - 600px); right:calc(50vw - 600px);}
}
@media screen and (max-width:575.98px){
    .section-padding{padding:2.5rem 0;}
    .section-bpadding{padding:4.25rem 0 2.5rem 0;}
    .section-bg-hero > .bg-hero{left:calc(50vw - 550px); right:calc(50vw - 550px);}
}
@media screen and (min-width:578px){
    .container{padding-left:0; padding-right:0;}
}


/* Input */
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], select, textarea{
    border:1px solid transparent; border-radius:.25rem; box-shadow:none; outline:none;
    padding:.5rem .75rem; font-size:1rem; font-weight:300; margin:0; line-height:1.25;
    transition:border-color .3s;
}

/* Select Input */
.select-wrapper{display:inline-block; position:relative;}
.select-wrapper::after{
    content:'\f2f9'; font:normal normal normal 14px/1 'Material-Design-Iconic-Font';
    position:absolute; top:0; bottom:0; right:0; width:2.125rem; pointer-events:none;
    display:flex; align-items:center; justify-content:center;
}
.select-wrapper > select{
    -moz-appearance:none; -moz-appearance:none; -webkit-appearance:none; appearance:none;
    width:auto; max-width:100%;
}


/* Typography */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .p{margin:0; font-weight:300;}
h1, .h1{font-size:4.5625rem; font-weight:600; line-height:1;}
h2, .h2{font-size:4rem; font-weight:600; line-height:1;}
h3, .h3{font-size:3rem; font-weight:600; line-height:1;}
h3.sm, .h3.sm{font-size:2.625rem;}
h3.xs, .h3.xs{font-size:2.3125rem;}
h4, .h4{font-size:1.8125rem; font-weight:600; line-height:1;}
h5, .h5{font-size:1.5625rem; font-weight:300; line-height:1;}
h6, .h6{font-size:1.5rem; font-weight:300; line-height:1;}
p, .p{font-size:1.375rem; font-weight:300;}
@media screen and (max-width:1199.98px){
    h1, .h1{font-size:4.4375rem;}
    h3.xs, .h3.xs{font-size:2.25rem;}
}
@media screen and (max-width:991.98px){
    h1, .h1{font-size:4.125rem;}
    h2, .h2{font-size:3.75rem;}
    h3, .h3{font-size:2.875rem;}
    h3.sm, .h3.sm{font-size:2.3125rem;}
    h3.xs, .h3.xs{font-size:2rem;}
    h4, .h4{font-size:1.75rem;}
}
@media screen and (max-width:767.98px){
    h1, .h1{font-size:3.625rem;}
    h2, .h2{font-size:3.25rem;}
    h3, .h3{font-size:2.75rem;}
    h3.sm, .h3.sm{font-size:2.1875rem;}
    h5, .h5{font-size:1.5rem;}
    h6, .h6{font-size:1.4375rem;}
}
@media screen and (max-width:575.98px){
    h1, .h1{font-size:3.25rem;}
    h2, .h2{font-size:3rem;}
    h3, .h3{font-size:2.5rem;}
    h3.sm, .h3.sm{font-size:2rem;}
    h3.xs, .h3.xs{font-size:1.8125rem;}
    h4, .h4{font-size:1.6875rem;}
    h5, .h5{font-size:1.4375rem;}
    h6, .h6{font-size:1.375rem;}
}


/* Buttons */
.btns{width:100%; margin:1.5rem 0 0 0;}

.btn, .btn:focus{box-shadow:none;}
.btn:hover{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.05);}
.btn:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

.btn-icon{
    position:relative; display:inline-block; overflow:hidden; text-align:center;
    cursor:pointer; font-size:1.3125rem; width:2rem; height:2.25rem; line-height:2.375rem;
    transition:background .25s, color .25s;
}
.btn-icon.inactive{filter:grayscale(100%); opacity:.6;}
.btn-icon.inactive:hover{filter:grayscale(0%); opacity:1;}
.btn-icon.btn-icon-xs{width:1.125rem; height:1.25rem; line-height:1.5625rem;}
.btn-icon.btn-icon-sm{width:1.3125rem; height:1.4375rem; line-height:1.4375rem;}

.btn-action, .btn-action:focus, .btn-action:hover, .btn-action:active{
    display:inline-block; position:relative; border:0; border-radius:0;
    font-size:1.375rem; font-weight:300; padding:.25rem 2.5rem .25rem 1.5rem; overflow:hidden;
    white-space:nowrap; min-width:9.75rem; text-align:center;
}
.btn-action::before{
    content:''; position:absolute; top:0; bottom:0; right:0; width:1.75rem;
    clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%, 40% 50%); transition:transform .3s;
}
.btn-action:hover::before{transform:translateX(calc(1.75rem * .6));}

.btn-round{border-radius:1000em; padding-left:1.1875rem; padding-right:1.1875rem;}
.btn-hex{clip-path:polygon(50% 0%, 100% 24%, 100% 76%, 50% 100%, 0% 76%, 0% 24%);}


/* Content Footer */
.content-footer{position:relative; width:100%;}
.content-footer .content-row{
    display:flex; flex-wrap:wrap; width:100%; padding:.5625rem 1rem;
    border-top:1px solid transparent;
}
.content-footer .content-row table{width:100%;}
.content-footer .content-row:last-child{border-bottom:1px solid transparent;}
.content-footer .btn-social{display:block; margin:0 .1875rem 0 0;}

/* Content General */
.content-banner{width:100%; max-width:48rem; margin:0 auto;}
img.content-img-float{
    display:block; float:right; width:17rem; height:auto; margin:0 0 1.5rem 3rem;
}
.content-quote{
    position:relative; width:100%; max-width:46rem; display:flex; justify-content:center;
    padding:0 1rem; margin:0 auto; flex-wrap:wrap;
}
.content-quote > *:first-child, .content-quote > *:last-child{position:relative;}
.content-quote > *:first-child::before, .content-quote > *:last-child::after{
    content:'“'; position:absolute; font-size:9rem; font-weight:600; line-height:1;
    pointer-events:none;
}
.content-quote > *:first-child::before{top:-3.5rem; left:-2.25rem;}
.content-quote > *:last-child::after{transform:rotate(180deg); bottom:-1.375rem; right:-3.25rem;}
.content-grid-title{transform:translateY(.875rem);}
@media screen and (max-width:1199.98px){
    img.content-img-float{width:17rem; margin:0 0 1.5rem 2rem;}
}
@media screen and (max-width:991.98px){
    img.content-img-float{float:none; width:100%; max-width:16rem; margin:0 auto 1.5rem auto;}
}
@media screen and (max-width:767.98px){
    .content-quote{padding:0 2rem;}
    .content-quote > *:last-child::after{right:-2.5rem;}
}


/* Grid Header */
.grid-header{margin:3.25rem 0 0 0;}
.grid-header .options{width:100%; display:flex; align-items:center; margin:.25rem 0 0 0;}
.grid-header .btn-grid{
    display:block; width:2.25rem; height:2.25rem; border-radius:0; text-align:center;
    border:1px solid transparent; line-height:2.625rem; font-size:1.5rem; padding:0;
}
.grid-header .options > *{margin:0 0 0 .4375rem;}
.grid-header .options > *:first-child{margin:0;}
.grid-header input[type=text], .grid-header select{
    border-radius:0; padding:.2rem .75rem; font-size:1.375rem;
}
.grid-header input[type=text]{width:calc(100% - 2.5rem); max-width:15rem;}
.grid-header input[type=text] + .btn-grid{margin:0 0 0 .25rem;}
.grid-header select{padding-right:1.75rem;}
@media screen and (max-width:991.98px){
    .grid-header{margin:3.875rem 0 0 0;}
}
@media screen and (max-width:767.98px){
    .grid-header{margin:2.5rem 0 0 0;}
    .grid-header .options{justify-content:center; flex-wrap:wrap;}
}

/* Grid Footer */
.grid-footer{
    width:100%; display:flex; align-items:center; justify-content:space-between;
    border-top:1px solid transparent; border-bottom:1px solid transparent;
    padding:.125rem 0; margin:3rem 0 0 0; font-size:1.25rem;
}
.grid-footer > .block{display:flex; align-items:center;}
.grid-footer .pagination{margin:0;}
.grid-footer .text-wrapper{text-align:center; font-size:1.25rem; padding:.25rem 0; font-weight:300;}
.grid-footer select{
    padding:.375rem 1.4375rem .325rem .375rem; font-size:.9375rem; font-weight:300;
    margin:0 0 0 .25rem; background:transparent;
}
.grid-footer select.pp{font-size:1.4375rem; font-weight:500; padding:0 .75rem 0 0; border:0;}
.grid-footer .select-wrapper::after{width:.75rem; font-size:.9375rem;}
@media screen and (max-width:991.98px){
    .grid-footer{flex-wrap:wrap; justify-content:center; margin:2.25rem 0 0 0;}
    .grid-footer > .block{width:100%;}
    .grid-footer .text-wrapper{width:100%;}
}

/* Pagination */
.pagination{width:100%; padding:.625rem 0; text-align:center; margin:1.8125rem 0 0 0;}
.pagination.border-top{border-top:1px solid transparent;}
.pagination.border-bottom{border-bottom:1px solid transparent;}
.pagination > .wrapper{
    width:100%; display:flex; align-items:center; justify-content:center; flex-wrap:wrap;
}
.pagination .page-btn{
    display:block; text-decoration:none; height:1.625rem; width:1.625rem; padding:0;
    line-height:1.375rem; font-size:1.25rem; font-weight:300; text-align:center;
    margin:.0625rem; border:2px solid transparent; border-radius:0; white-space:nowrap;
    transition:background .25s, color .25s, border-color .25s;
}
.pagination .page-btn.active{font-weight:600; font-size:1.625rem; pointer-events:none;}
.pagination .page-btn.page-prev, .pagination .page-btn.page-next{
    font-size:1.4375rem; line-height:1.25rem;
}
.pagination .page-btn.page-first, .pagination .page-btn.page-last{
    width:auto; font-size:1.125rem; font-weight:300; min-width:4rem;
}
.pagination .page-btn.disabled{opacity:.3; pointer-events:none;}


/* Hamburger */
.hamburger{cursor:pointer;}
.hamburger > *{width:2rem; height:.14rem; transition:all .5s;}
.hamburger > *:nth-child(2){margin:.375rem 0;}
.hamburger.active > *:nth-child(1){
    -webkit-transform:rotate(-45deg)translate(-.375rem, .375rem);
    transform:rotate(-45deg)translate(-.375rem, .375rem);
}
.hamburger.active > *:nth-child(2){opacity:0;}
.hamburger.active > *:nth-child(3){
    -webkit-transform:rotate(45deg)translate(-.375rem,-.375rem);
    transform:rotate(45deg)translate(-.375rem, -.375rem);
}


/* Popup Container */
.popup-container{
    display:block; position:fixed; top:0; left:0; width:100%; height:100vh; z-index:100;
    opacity:0; pointer-events:none; background:rgba(0,0,0,.4); transition:opacity .45s;
    backdrop-filter:blur(3px);
}
.popup-container.active{opacity:1; pointer-events:all;}
.popup-container > .wrapper{
    position:relative; width:100%; height:100%; padding:1.5rem;; display:flex; align-items:center;
}
.popup-container .close-filter{
    position:fixed; top:0; left:0; width:100vw; height:100vh; opacity:0; cursor:pointer;
}
.popup-container .popup-box{
    display:block; position:relative; width:100%; max-width:640px; padding:0; margin:0 auto;
}
.popup-container .box-header{
    position:relative; width:100%; border-radius:.3125rem .3125rem 0 0;
    padding:1.5rem 1rem .875rem 1rem;
}
.popup-container .box-header img.pin{
    display:block; width:3.25rem; height:auto; position:absolute; top:-2.375rem;
    left:calc(50% - 1.625rem);
}
.popup-container .box-header .close-btn{
    position:absolute; top:1.125rem; bottom:0; right:1rem; font-size:1.875rem;
}
.popup-container .box-header .close-btn:hover{opacity:.75;}
.popup-container .box-body{width:100%; padding:1rem 1rem 1.5rem 1rem;}
.popup-container .box-body .contents{width:100%; display:flex; justify-content:space-between;}
.popup-container .box-body .content{position:relative; width:calc(65% - 1rem);}
.popup-container .box-body .content:first-child{width:35%;}
.popup-container .box-btns{
    width:100%; display:flex; border-radius:0 0 .3125rem .3125rem; overflow:hidden;
}
.popup-container .box-btn{
    display:block; width:50%; padding:.875rem .5rem; text-align:center; font-size:1.375rem;
    transition:background .25s, color .25s;
}
.popup-container .box-btn i{font-size:1.125rem; margin:0 .375rem 0 0;}
@media screen and (max-width:575.98px){
    .popup-container .box-header img.pin{width:2.75rem; top:-2.125rem; left:calc(50% - 1.375rem);}
    .popup-container .box-body .contents{flex-wrap:wrap;}
    .popup-container .box-body .content{width:100%;}
    .popup-container .box-body .content:first-child{width:100%; height:140px; margin:0 0 .5rem 0;}
}


/* Slide Container */
.slide-container{position:relative; width:100%;}
.slide-container .arrows{
    position:absolute; top:0; bottom:0; left:0; right:0; display:flex; align-items:center;
    justify-content:space-between; pointer-events:none;  
}
.slide-container .arrows button{
    border:0; padding:0; background:none; box-shadow:none; font-size:0; pointer-events:all;
    outline:none; position:relative; transition:all .3s;
}
.slide-container .arrows button.slick-prev{padding:.5rem 1rem .5rem 0;}
.slide-container .arrows button.slick-next{padding:.5rem 0 .5rem 1rem;}
.slide-container .arrows button::before{
    font:normal normal normal 14px/1 'Material-Design-Iconic-Font'; font-size:3rem;
}
.slide-container .arrows button.slick-prev::before{content:'\f2fa';}
.slide-container .arrows button.slick-next::before{content:'\f2fb';}


/* Special Box */
.ss-box{position:relative; width:100%; padding:3rem;}
@media screen and (max-width:1199.98px){
    .ss-box{padding:2.75rem;}
}
@media screen and (max-width:991.98px){
    .ss-box{padding:2.5rem;}
}
@media screen and (max-width:767.98px){
    .ss-box{padding:2rem;}
}
@media screen and (max-width:575.98px){
    .ss-box{padding:1.5rem;}
}


/* Special Box Shadow */
.ss-box-shadow{
    position:absolute; top:0; bottom:0; left:-1rem; right:-1rem; pointer-events:none;
    -webkit-mask-image:linear-gradient(to bottom, #000, #000, #000, #000,
        #000, #000, #000, #000, #000, #000, #000, #000, #000,
        rgba(0,0,0,.5), rgba(0,0,0,0));
}
.ss-box-shadow::before{
    content:''; display:block; width:calc(100% - 2rem); height:100%;
    margin:0 1rem; box-shadow:0 0 10px 2px rgba(0,0,0,.15);
}
@media screen and (min-width:768px){
    .ss-box-shadow.fade-right{
        top:-1rem; bottom:-1rem; left:0; right:0;
        -webkit-mask-image:linear-gradient(to right, #000, #000, #000, #000,
            #000, #000, #000, #000, #000, #000, #000, #000, #000,
            rgba(0,0,0,.5), rgba(0,0,0,0));
    }
    .ss-box-shadow.fade-right::before{
        width:100%; height:calc(100% - 2rem); margin:1rem 0;
        box-shadow:0 0 10px 2px rgba(0,0,0,.15);
    }
}


/* Special Card */
.ss-card .title{
    display:block; display:-webkit-box; text-overflow:ellipsis; overflow:hidden;
    -webkit-box-orient:vertical; -webkit-line-clamp:2;
}
.ss-card .desc{
    display:block; display:-webkit-box; text-overflow:ellipsis; overflow:hidden;
    -webkit-box-orient:vertical; -webkit-line-clamp:3;
}

/* Special Card 01 */
.ss-card-01 .text-container{
    position:relative; width:calc(100% - 1.375rem); margin:-1.125rem .6875rem 0 .6875rem;
    padding:.75rem 1rem 1rem 1rem; transition:color .25s, background .25s;
}
.ss-card-01 .text-wrapper{position:relative;}

/* Special Card 02 */
.ss-card-02 .text-container{width:100%; padding:.75rem .5rem; margin:0 0 .75rem 0;}

/* Special Card 03 */
.ss-card-03{position:relative; padding:0 35% 0 0;}
.ss-card-03 .text-container{
    position:absolute; top:1.5rem; bottom:1.5rem; right:0; width:45%;
    transition:color .25s, background .25s;
}
.ss-card-03 .text-container > .wrapper{
    position:relative; width:100%; height:100%; padding:.75rem 2rem 1rem 2rem; 
    display:flex; align-items:center;
}
@media screen and (max-width:1199.98px){
    .ss-card-03 .text-container{top:1.25rem; bottom:1.25rem; width:50%;}
    .ss-card-03 .text-container > .wrapper{padding:.75rem 1rem 1rem 1rem;}
}
@media screen and (max-width:767.98px){
    .ss-card-03{padding:0;}
    .ss-card-03 .text-container{
        position:relative; width:calc(100% - 1.375rem); margin:-1.125rem .6875rem 0 .6875rem;
        top:auto; bottom:auto;
    }
}

/* Special Card 04 */
.ss-card-04{position:relative; padding:0 calc(100% - 20rem) 0 0;}
.ss-card-04 .text-container{
    position:absolute; top:1rem; bottom:1rem; right:0; width:calc(100% - 17rem);
    transition:color .25s, background .25s;
}
.ss-card-04 .text-container > .wrapper{
    position:relative; width:100%; height:100%; padding:.75rem 2rem 1rem 2rem; 
    display:flex; align-items:center;
}
.ss-card-04 .title{-webkit-line-clamp:1;}
@media screen and (max-width:1199.98px){
    .ss-card-04{padding:0 35% 0 0;}
    .ss-card-04 .text-container{top:1.25rem; bottom:1.25rem; width:50%;}
    .ss-card-04 .text-container > .wrapper{padding:.75rem 1rem 1rem 1rem;}
    .ss-card-04 .title{-webkit-line-clamp:2;}
}
@media screen and (max-width:767.98px){
    .ss-card-04{padding:0;}
    .ss-card-04 .text-container{
        position:relative; width:calc(100% - 1.375rem); margin:-1.125rem .6875rem 0 .6875rem;
        top:auto; bottom:auto;
    }
}


/* Special Image */
.ss-img{display:block; position:relative; width:100%; padding:60% 0 0 0; overflow:hidden;}
.ss-img.horizontal{padding:50% 0 0 0;}
.ss-img.square{padding:100% 0 0 0;}
.ss-img.vertical{padding:125% 0 0 0;}
.ss-img > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center; transition:transform .3s;
}
.ss-img:hover > .img-bg, .ss-card:hover .ss-img > .img-bg{transform:scale(1.1);}

.ss-img > .date{
    display:block; position:absolute; top:0; left:0; text-align:center; padding:.25rem .3125rem;
}
.ss-img > .date .d{
    border-bottom:1px solid transparent; font-size:2rem; font-weight:400; line-height:.9;
}
.ss-img > .date .m-y{margin:.25rem 0 0 0; font-weight:100; font-size:1rem;}

.ss-img .hover-container{
    position:absolute; top:0; bottom:0; left:0; right:0; opacity:0;
    display:flex; justify-content:center; align-items:center; transition:opacity .25s;
}
.ss-img:hover .hover-container, .ss-card:hover .ss-img .hover-container{opacity:1;}
.ss-img .hover-container .icon{display:block; width:4rem;}
.ss-img .hover-container .icon > img{display:block; width:100%; height:auto;}

.ss-img .ads-location{position:absolute; bottom:0; left:0;}
.ss-img .ads-location > img{display:block; width:100%; max-width:7rem; height:auto;}

.ss-img > .tag-star{
    display:block; position:absolute; top:4.0625rem; left:.3125rem; width:2.3125rem;
}
.ss-img > .tag-star > img{display:block; width:100%; height:auto;}


/* Special List */
ul.ss-list{list-style:none; padding:0; margin:.25rem 0;}
ul.ss-list > li{
    font-size:1.3125rem; font-weight:400; position:relative; padding:.25rem 0 .25rem 1.125rem;
}
ul.ss-list.fw-200 > li{font-weight:200;}
ul.ss-list.fw-300 > li{font-weight:300;}
ul.ss-list.fw-400 > li{font-weight:400;}
ul.ss-list.fw-500 > li{font-weight:500;}
ul.ss-list.fw-600 > li{font-weight:600;}
ul.ss-list > li:first-child{padding-top:0;}
ul.ss-list > li:last-child{padding-bottom:0;}
ul.ss-list > li::before{
    content:''; position:absolute; top:.75rem; left:0; width:.3125rem; height:.3125rem;
}
ul.ss-list > li:first-child::before{top:.5rem;}
ul.ss-list .btn-icon{position:absolute; margin-left:.75rem; transition:opacity .25s;}
ul.ss-list .btn-icon:hover{opacity:.8;}
ul.ss-list.ss-list-toggle ul.ss-list{display:none;}
ul.ss-list.gap-sm{margin:.5rem 0;}
ul.ss-list.gap-sm > li{padding-top:.125rem; padding-bottom:.125rem;}
ul.ss-list.gap-sm > li::before{top:.6875rem;}


/* Special Separation */
.ss-sep{display:block; width:100%; height:1px; margin:1.125rem 0;}


/* Special Stat */
.ss-stat{width:100%; display:flex; flex-wrap:wrap; margin:.5rem 0 0 0;}
.ss-stat .stat{
    display:flex; align-items:center; white-space:nowrap; margin:.25rem .875rem 0 0;
    font-size:1.375rem; font-weight:400;
}
.ss-stat .stat > .icon{
    display:block; width:1.5rem; height:1.5rem; line-height:1.75rem; margin:0 .4375rem 0 0;
    text-align:center; font-size:1.0625rem;
}
.ss-stat .stat > .icon > img{display:block; width:100%; height:100%;}


/* Special Tag */
.ss-tag{width:100%; display:flex; margin:.75rem 0 0 0;}
.ss-tag > .text{font-weight:600; font-size:1.1875rem; margin:.375rem .3125rem 0 0;}
.ss-tag > .tags{display:block;}
.ss-tag .tag{
    display:inline-block; padding:.25rem; border:1px solid transparent; font-size:1.125rem;
    margin:.125rem 0 .0625rem 0; transition:all .25s;
}


/* Table */
.table-wrapper{width:100%; overflow-x:auto; overflow-y:hidden; padding:0 0 .875rem 0;}
table.table{width:100%; margin:0;}
table.table-detail td{padding:.5rem 0; font-size:1.3125rem; border:0;}
table.table-download td{
    border:0; padding:.25rem 0; line-height:1; vertical-align:middle; font-size:1.3125rem;
}
table.table-download td:first-child{width:3rem;}
table.table-download td:last-child{text-align:right;}
table.table-download .file-icon{display:block; width:2.5rem; height:auto;}
table.table-download .file-icon > img{display:block; width:100%; height:auto;}
table.table-download .btn-download{font-weight:500; white-space:nowrap;}
table.table-download .btn-download > i{
    display:inline-block; width:1.375rem; height:1.375rem; border:2.5px solid transparent;
    font-size:1rem; line-height:1.1875rem; transform:rotate(90deg); text-align:center;
    margin:0 0 0 .25rem; transition:border-color .25s, background .25s, color .25s;
}


/* Utility */
.text-3xl{font-size:240%!important; line-height:.25;}
.text-2xl{font-size:150%!important; line-height:.25;}
.text-xl{font-size:128%!important;}
.text-lg{font-size:114%!important;}
.text-md{font-size:110%!important;}
.text-nm{font-size:1.3125rem!important;}
.text-sm{font-size:90%!important;}
.text-xs{font-size:80%!important;}
.text-2xs{font-size:70%!important;}
.text-3xs{font-size:60%!important;}

.fw-100{font-weight:100!important;}
.fw-200{font-weight:200!important;}
.fw-300{font-weight:300!important;}
.fw-400{font-weight:400!important;}
.fw-500{font-weight:500!important;}
.fw-600{font-weight:600!important;}
.fw-700{font-weight:700!important;}
.fw-800{font-weight:800!important;}
.fw-900{font-weight:900!important;}

.op-100{opacity:1!important;} .op-0{opacity:0!important;}
.op-10{opacity:.1!important;} .op-20{opacity:.2!important;} .op-30{opacity:.3!important;}
.op-40{opacity:.4!important;} .op-50{opacity:.5!important;} .op-60{opacity:.6!important;}
.op-70{opacity:.7!important;} .op-80{opacity:.8!important;} .op-90{opacity:.9!important;}

.d-block{display:block!important;}
.d-flex{display:flex!important;}
.d-inline{display:inline!important;}
.d-inline-block{display:inline-block!important;}
.d-none{display:none!important;}

.jc-start{justify-content:flex-start!important;}
.jc-center{justify-content:center!important;}
.jc-end{justify-content:flex-end!important;}
.jc-space-between{justify-content:space-between!important;}
.jc-space-evenly{justify-content:space-evenly!important;}
.ai-center{align-items:center!important;}
.ai-start{align-items:flex-start!important;}
.ai-end{align-items:flex-end!important;}
.fw-wrap{flex-wrap:wrap!important;}

.width-auto{width:auto!important;}
.width-full{width:100%!important; max-width:100%!important;}
.height-auto{height:auto!important;}

.ws-nowrap{white-space:nowrap!important;}
.no-br > br{display:none;}

.no-border{border:0!important;}
.border{border:1px solid transparent!important;}
.border-top{border-top:1px solid transparent!important;}
.border-top-4{border-top:4px solid transparent!important;}
.border-bottom{border-bottom:1px solid transparent!important;}
.border-bottom-4{border-bottom:4px solid transparent!important;}

.no-bradius{border-radius:0!important;}
.no-padding{padding:0!important;}
.box-shadow{box-shadow:0px 5px 20px 10px rgba(0,0,0,.1);}

.ovf-hidden{overflow:hidden;}
.clear-both{clear:both;}

@media screen and (max-width:1199.98px){
    .lg-no-br > br{display:none;}
}
@media screen and (max-width:991.98px){
    .md-no-br > br{display:none;}
}
@media screen and (max-width:767.98px){
    .sm-no-br > br{display:none;}
}
@media screen and (max-width:575.98px){
    .xs-no-br > br{display:none;}
}
