
/* Super Topnav Minisite */
nav.stopnav.minisite{position:relative; z-index:95;}
nav.stopnav.minisite > .bottom-container{padding:.5rem 0;}
nav.stopnav.minisite .logo img{height:3rem;}
@media screen and (max-width:1199.98px){
    nav.stopnav.minisite > .bottom-container{padding:.375rem 0;}
    nav.stopnav.minisite .logo img{height:2.75rem;}
}
@media screen and (max-width:575.98px){
    nav.stopnav.minisite .hide-mobile{display:none!important;}
    nav.stopnav.minisite .logo img{height:2.5rem;}
    nav.stopnav.minisite .logo .text-wrapper{display:block;}
    nav.stopnav.minisite .logo h6{font-size:1.3125rem;}
    nav.stopnav.minisite .logo p{font-size:1.125rem;}
}


/* Topnav Minisite */
nav.topnav.minisite{position:absolute; top:unset;}
nav.topnav.minisite.sticky{position:fixed; top:0;}
nav.topnav.minisite .blocks{width:100%; display:flex; justify-content:space-between;}
nav.topnav.minisite .block{display:flex;}
nav.topnav.minisite .menu > a{
    padding:1rem 1rem; font-weight:400; transition:color .25s, background .25s;
}
nav.topnav.minisite .menu::before{display:none;}
nav.topnav.minisite .option{
    display:flex; align-items:center; justify-content:center; font-size:1.5625rem;
    width:3.25rem; height:100%; min-height:3.375rem;
    transition:color .25s, background .25, opacity .25s;
}
nav.topnav.minisite .option.clear{width:2.5rem;}
nav.topnav.minisite .option:hover{opacity:.8;}
nav.topnav.minisite .option img{display:block; height:1.125rem; width:auto;}
nav.topnav.minisite .pc-container{display:block!important;}
nav.topnav.minisite .mobile-container{display:none!important;}
nav.topnav.minisite + .topnav-spacer{height:3.4375rem;}
@media screen and (max-width:991.98px){
    nav.topnav.minisite .pc-container{display:none!important;}
    nav.topnav.minisite .mobile-container{display:block!important;}
}

/* Topnav Dropdown Minisite */
.topnav-dropdown.minisite{position:absolute; top:10.5625rem;}
.topnav-dropdown.minisite.sticky{position:fixed; top:3.4375rem;}
.topnav-dropdown.minisite .dropdown-wrapper{height:calc(100vh - 10.5625rem);}
.topnav-dropdown.minisite .scroll-wrapper{
    height:calc(100vh - 21.5rem); max-height:calc(100vh - 21.5rem);
}
@media screen and (max-width:1199.98px){
    .topnav-dropdown.minisite{top:10.25rem;}
    .topnav-dropdown.minisite .dropdown-wrapper{height:calc(100vh - 10.25rem);}
    .topnav-dropdown.minisite .scroll-wrapper{
        height:calc(100vh - 22.75rem); max-height:calc(100vh - 22.75rem);
    }
}
@media screen and (max-width:991.98px){
    .topnav-dropdown.minisite + .topnav-dropdown-filter,
    .topnav-dropdown.minisite{display:none!important;}
}


/* Footer Minisite */
nav.footer.minisite .hero-container{width:100%; display:flex;}
nav.footer.minisite .hero-container > .logo{
    display:block; width:3.5rem; height:3.5rem; padding:.25rem;
    margin:0 .75rem 0 0; border-radius:50%;
}
nav.footer.minisite .hero-container > .logo > img{display:block; width:100%; height:auto;}
nav.footer.minisite .hero-container > .text-container{width:calc(100% - 4.25rem);}
nav.footer.minisite .hero-container .btns{margin:1rem 0 0 0;}
nav.footer.minisite .pull-right{text-align:right;}
nav.footer.minisite .pull-right .count-container{justify-content:flex-end; margin:5.25rem 0 0 0;}
nav.footer.minisite img.hero{width:7.5rem;}
@media screen and (max-width:991.98px){
    nav.footer.minisite .hero-container > .logo{width:3.25rem; height:3.25rem;}
    nav.footer.minisite .hero-container > .text-container{width:calc(100% - 4rem);}
    nav.footer.minisite .pull-right{text-align:left; margin:1.25rem 0 0 0;}
    nav.footer.minisite .pull-right .count-container{justify-content:flex-start; margin:0;}
}
@media screen and (max-width:575.98px){
    nav.footer.minisite .hero-container > .logo{width:3rem; height:3rem;}
    nav.footer.minisite .hero-container > .text-container{width:calc(100% - 3.75rem);}
    nav.footer.minisite .bottom-container{display:block; text-align:center;}
    nav.footer.minisite img.hero{margin:.75rem auto 0 auto;}
}


/* Quick Tab */
.quick-tab.minisite{top:13.5rem;}
@media screen and (max-width:575.98px){
    .quick-tab.minisite{top:9rem;}
}


/* Tabs Minisite */
.tab-container .tabs.tabs-minisite{
    position:relative; width:100%; padding:0; min-height:38rem; overflow:hidden;
}
.tab-container .tabs.tabs-minisite > .img-hero{
    display:block; position:absolute; bottom:0; left:0; right:0; width:100%; height:auto;
}
.tab-container .tabs.tabs-minisite .tab{
    position:relative; width:100%; padding:.875rem; margin:0 0 1px 0;
    display:flex; align-items:center; transition:color .25s, background .25s;
}
.tab-container .tabs.tabs-minisite .tab > .icon{
    position:relative; width:1.5rem; height:1.5rem; margin:0 1.25rem 0 0;
    display:flex; align-items:center; justify-content:center;
}
.tab-container .tabs.tabs-minisite .tab > .icon > img{
    display:block; width:auto; max-width:100%; height:auto; max-height:100%;
}
.tab-container .tabs.tabs-minisite .tab::before{
    content:''; position:absolute; bottom:0; left:0; right:0; height:1px; opacity:.25;
}
.tab-container .tabs.tabs-minisite .tab.tab-main:last-child::before{display:none;}
.tab-container .tabs.tabs-minisite .tab-children{display:none;}
.tab-container .tabs.tabs-minisite .tab > .chev{
    position:absolute; top:0; bottom:0; right:.625rem; display:flex; align-items:center;
    font-size:1.5rem; transition:transform .25s;
}
.tab-container .tabs.tabs-minisite .tab.toggled > .chev{transform:rotate(-180deg);}
@media screen and (max-width:1199.98px){
    .tab-container .tabs.tabs-minisite{min-height:31rem;}
}
@media screen and (max-width:991.98px){
    .tab-container .tabs.tabs-minisite{min-height:0;}
    .tab-container .tabs.tabs-minisite > .img-hero{display:none;}
}


/* Tab Container 04 */
.tab-container-04.minisite .tabs{
    justify-content:center; border-top:1px solid transparent; border-bottom:1px solid transparent;
}
.tab-container-04.minisite .tab{border:1px solid transparent; border-left:0; margin:-1px 0;}
.tab-container-04.minisite .tab:last-child{border-right:0;}
.tab-container-04.minisite .slide > .wrapper{padding:.625rem;}
.tab-container-04.minisite .slide .ss-card{transition:transform .45s;}
.tab-container-04.minisite .slide.slick-center .ss-card{transform:scale(1.05);}
.tab-container-04.minisite .bottom-container{position:relative; width:100%; text-align:center;}
.tab-container-04.minisite .arrows{
    position:absolute; top:0; bottom:0; right:0; display:flex; align-items:center;
    justify-content:flex-end;
}
.tab-container-04.minisite .arrows .arrow{
    display:flex; align-items:center; justify-content:center; pointer-events:all;
    width:2.5rem; height:2.1875rem; margin:0 0 0 .5rem; font-size:1.625rem;
    padding:0 0 .125rem 0;
}
@media screen and (max-width:991.98px){
    .tab-container-04.minisite .tab{margin:0;}
}
@media screen and (max-width:575.98px){
    .tab-container-04.minisite .bottom-container{
        display:flex; align-items:center; justify-content:space-between;
    }
    .tab-container-04.minisite .arrows{
        position:relative; top:unset; bottom:unset; right:unset;
    }
}
