
/* Super Topnav Minisite */
nav.stopnav.minisite{position:relative; z-index:95;}
nav.stopnav.minisite > .bottom-container{padding:.75rem 0;}
nav.stopnav.minisite .logo img{height:3rem;}
@media screen and (max-width:1199.98px){
    nav.stopnav.minisite > .bottom-container{padding:.625rem 0;}
    nav.stopnav.minisite .logo img{height:2.75rem;}
}
@media screen and (max-width:575.98px){
    nav.stopnav.minisite .hide-mobile{display:none!important;}
    nav.stopnav.minisite > .bottom-container{padding:.5rem 0;}
    nav.stopnav.minisite .logo .text-wrapper{display:block;}
    nav.stopnav.minisite .logo h6{font-size:1.3125rem;}
    nav.stopnav.minisite .logo p{font-size:1.125rem;}
}


/* Topnav Minisite */
nav.topnav.minisite{position:absolute; top:unset;}
nav.topnav.minisite.sticky{position:fixed; top:0;}
nav.topnav.minisite .blocks{width:100%; display:flex; justify-content:space-between;}
nav.topnav.minisite .block{display:flex;}
nav.topnav.minisite .menu > a{
    padding:1rem 1rem; font-weight:400; transition:color .25s, background .25s;
}
nav.topnav.minisite .menu::before{display:none;}
nav.topnav.minisite .option{
    display:flex; align-items:center; justify-content:center; font-size:1.5625rem;
    width:3.25rem; height:100%; min-height:3.375rem;
    transition:color .25s, background .25, opacity .25s;
}
nav.topnav.minisite .option.clear{width:2.5rem;}
nav.topnav.minisite .option:hover{opacity:.8;}
nav.topnav.minisite .option img{display:block; height:1.125rem; width:auto;}
nav.topnav.minisite .pc-container{display:block!important;}
nav.topnav.minisite .mobile-container{display:none!important;}
nav.topnav.minisite + .topnav-spacer{height:3.4375rem;}
@media screen and (max-width:991.98px){
    nav.topnav.minisite .pc-container{display:none!important;}
    nav.topnav.minisite .mobile-container{display:block!important;}
}

/* Topnav Dropdown Minisite */
.topnav-dropdown.minisite{position:absolute; top:10.5625rem;}
.topnav-dropdown.minisite.sticky{position:fixed; top:3.4375rem;}
.topnav-dropdown.minisite .dropdown-wrapper{height:calc(100vh - 10.5625rem);}
.topnav-dropdown.minisite .scroll-wrapper{
    height:calc(100vh - 21.5rem); max-height:calc(100vh - 21.5rem);
}
@media screen and (max-width:1199.98px){
    .topnav-dropdown.minisite{top:10.25rem;}
    .topnav-dropdown.minisite .dropdown-wrapper{height:calc(100vh - 10.25rem);}
    .topnav-dropdown.minisite .scroll-wrapper{
        height:calc(100vh - 22.75rem); max-height:calc(100vh - 22.75rem);
    }
}
@media screen and (max-width:991.98px){
    .topnav-dropdown.minisite + .topnav-dropdown-filter,
    .topnav-dropdown.minisite{display:none!important;}
}


/* Footer Minisite */
nav.footer.footer-minisite .hero-container{width:100%; display:flex;}
nav.footer.footer-minisite .hero-container > .logo{
    display:block; width:3.5rem; height:3.5rem; padding:.25rem;
    margin:0 .75rem 0 0; border-radius:50%;
}
nav.footer.footer-minisite .hero-container > .logo > img{display:block; width:100%; height:auto;}
nav.footer.footer-minisite .hero-container > .text-container{width:calc(100% - 4.25rem);}
nav.footer.footer-minisite .hero-container .btns{margin:1rem 0 0 0;}
nav.footer.footer-minisite .pull-right{text-align:right;}
nav.footer.footer-minisite .pull-right .count-container{justify-content:flex-end; margin:5.25rem 0 0 0;}
nav.footer.footer-minisite img.hero{width:7.5rem;}
@media screen and (max-width:991.98px){
    nav.footer.footer-minisite .hero-container > .logo{width:3.25rem; height:3.25rem;}
    nav.footer.footer-minisite .hero-container > .text-container{width:calc(100% - 4rem);}
    nav.footer.footer-minisite .pull-right{text-align:left; margin:1.25rem 0 0 0;}
    nav.footer.footer-minisite .pull-right .count-container{justify-content:flex-start; margin:0;}
}
@media screen and (max-width:575.98px){
    nav.footer.footer-minisite .hero-container > .logo{width:3rem; height:3rem;}
    nav.footer.footer-minisite .hero-container > .text-container{width:calc(100% - 3.75rem);}
    nav.footer.footer-minisite .bottom-container{display:block; text-align:center;}
    nav.footer.footer-minisite img.hero{margin:.75rem auto 0 auto;}
}


/* Quick Tab */
.quick-tab.minisite{top:13.5rem;}
@media screen and (max-width:575.98px){
    .quick-tab.minisite{top:9rem;}
}
