
/* Super Topnav Minisite */
nav.stopnav.minisite{position:relative; z-index:95;}
nav.stopnav.minisite > .bottom-container{padding:.5rem 0;}
nav.stopnav.minisite .logo img{height:3rem;}
@media screen and (max-width:1199.98px){
    nav.stopnav.minisite > .bottom-container{padding:.375rem 0;}
    nav.stopnav.minisite .logo img{height:2.75rem;}
}
@media screen and (max-width:575.98px){
    nav.stopnav.minisite .hide-mobile{display:none!important;}
    nav.stopnav.minisite .logo img{height:2.5rem;}
    nav.stopnav.minisite .logo .text-wrapper{display:block;}
    nav.stopnav.minisite .logo h6{font-size:1.3125rem;}
    nav.stopnav.minisite .logo p{font-size:1.125rem;}
}


/* Topnav Minisite */
nav.topnav.minisite{position:absolute; top:unset;}
nav.topnav.minisite.sticky{position:fixed; top:0;}
nav.topnav.minisite .blocks{width:100%; display:flex; justify-content:space-between;}
nav.topnav.minisite .block{display:flex;}
nav.topnav.minisite .menu > a{
    padding:1rem 1rem; font-weight:400; transition:color .25s, background .25s;
}
nav.topnav.minisite .menu::before{display:none;}
nav.topnav.minisite .option{
    display:flex; align-items:center; justify-content:center; font-size:1.5625rem;
    width:3.25rem; height:100%; min-height:3.375rem;
    transition:color .25s, background .25, opacity .25s;
}
nav.topnav.minisite .option.clear{width:2.5rem;}
nav.topnav.minisite .option:hover{opacity:.8;}
nav.topnav.minisite .option img{display:block; height:1.125rem; width:auto;}
nav.topnav.minisite .pc-container{display:block!important;}
nav.topnav.minisite .mobile-container{display:none!important;}
nav.topnav.minisite + .topnav-spacer{height:3.4375rem;}
@media screen and (max-width:991.98px){
    nav.topnav.minisite .pc-container{display:none!important;}
    nav.topnav.minisite .mobile-container{display:block!important;}
}

/* Topnav Dropdown Minisite */
.topnav-dropdown.minisite{position:absolute; top:10.5625rem;}
.topnav-dropdown.minisite.sticky{position:fixed; top:3.4375rem;}
.topnav-dropdown.minisite .dropdown-wrapper{height:calc(100vh - 10.5625rem);}
.topnav-dropdown.minisite .scroll-wrapper{
    height:calc(100vh - 21.5rem); max-height:calc(100vh - 21.5rem);
}
@media screen and (max-width:1199.98px){
    .topnav-dropdown.minisite{top:10.25rem;}
    .topnav-dropdown.minisite .dropdown-wrapper{height:calc(100vh - 10.25rem);}
    .topnav-dropdown.minisite .scroll-wrapper{
        height:calc(100vh - 22.75rem); max-height:calc(100vh - 22.75rem);
    }
}
@media screen and (max-width:991.98px){
    .topnav-dropdown.minisite + .topnav-dropdown-filter,
    .topnav-dropdown.minisite{display:none!important;}
}


/* Footer Minisite */
nav.footer.minisite .hero-container{width:100%; display:flex;}
nav.footer.minisite .hero-container > .logo{
    display:block; width:3.5rem; height:3.5rem; padding:.25rem;
    margin:0 .75rem 0 0; border-radius:50%;
}
nav.footer.minisite .hero-container > .logo > img{display:block; width:100%; height:auto;}
nav.footer.minisite .hero-container > .text-container{width:calc(100% - 4.25rem);}
nav.footer.minisite .hero-container .btns{margin:1rem 0 0 0;}
nav.footer.minisite .pull-right{text-align:right;}
nav.footer.minisite .pull-right .count-container{justify-content:flex-end; margin:5.25rem 0 0 0;}
nav.footer.minisite img.hero{width:7.5rem;}
@media screen and (max-width:991.98px){
    nav.footer.minisite .hero-container > .logo{width:3.25rem; height:3.25rem;}
    nav.footer.minisite .hero-container > .text-container{width:calc(100% - 4rem);}
    nav.footer.minisite .pull-right{text-align:left; margin:1.25rem 0 0 0;}
    nav.footer.minisite .pull-right .count-container{justify-content:flex-start; margin:0;}
}
@media screen and (max-width:575.98px){
    nav.footer.minisite .hero-container > .logo{width:3rem; height:3rem;}
    nav.footer.minisite .hero-container > .text-container{width:calc(100% - 3.75rem);}
    nav.footer.minisite .bottom-container{display:block; text-align:center;}
    nav.footer.minisite img.hero{margin:.75rem auto 0 auto;}
}


/* Popup */
.popup-container > .wrapper{padding:1rem 4rem 1rem 1rem;}
.popup-container.minisite .box-header{position:relative; border-radius:0;}
.popup-container.minisite .box-header::before{
    content:''; position:absolute; top:0; bottom:0; right:0; width:4rem;
    clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 40% 50%);
}
.popup-container.minisite .close-wrapper{
    position:absolute; top:0; bottom:0; left:100%; padding:1.125rem .75rem; text-align:center;
}
.popup-container.minisite .close-wrapper p{margin:.5rem 0 0 0;}


/* Quick Tab */
.quick-tab.minisite{top:13.5rem;}
@media screen and (max-width:575.98px){
    .quick-tab.minisite{top:9rem;}
}


/* Quick Tab Minisite */
.quick-tab-minisite{position:fixed; top:215px; right:16px; z-index:90;}
.quick-tab-minisite img{display:block; width:100%; height:auto;}
.quick-tab-minisite > .wrapper{position:relative;}
.quick-tab-minisite .tab{position:relative; width:70px;}
.quick-tab-minisite .tab.active{z-index:91;}
.quick-tab-minisite .tab-btn{
    display:block; position:relative; width:100%; margin:2px 0; transition:opacity .25s;
}
.quick-tab-minisite .tab-btn:hover{opacity:.95;}
.quick-tab-minisite .tab-btn > .wrapper{
    position:absolute; top:6px; bottom:6px; left:0; right:0;
    display:flex; align-items:center; flex-wrap:wrap;
}
.quick-tab-minisite .tab-btn .inner-wrapper{width:100%; text-align:center; color:#fff;}
.quick-tab-minisite .tab-btn .tab-icon{
    display:block; height:24px; width:auto; margin:0 auto 4px auto;
    transition:transform .25s; transform-origin:top center;
}
.quick-tab-minisite .tab.active > .tab-btn .tab-icon{transform:translateY(8px)scale(1.5);}
.quick-tab-minisite .tab:nth-child(2).active > .tab-btn .tab-icon{
    transform:translateY(3px)scale(1.5);
}
.quick-tab-minisite .tab-btn .p{
    font-size:13px; font-weight:300; line-height:.9; transition:opacity .25s;
}
.quick-tab-minisite .tab.active > .tab-btn .p{opacity:0;}
.quick-tab-minisite .tab > .track{
    position:absolute; top:0; bottom:0; right:-16px; max-width:calc(100vw - 80px);
    pointer-events:none; opacity:0; transition:opacity .25s, right .25s;
}
.quick-tab-minisite .tab.active > .track{right:0; opacity:1; pointer-events:auto;}
.quick-tab-minisite .track > .wrapper{
    position:relative; width:100%; height:100%; padding:0 64px 0 16px; display:flex;
}
.quick-tab-minisite .track > .wrapper::before{
    content:''; position:absolute; top:-3px; bottom:-3px; left:-3px;
    right:-3px; background:rgba(0,0,0,.8);
    clip-path:polygon(19px 0%, calc(100% - 19px) 0%, 100% 50%, 
        calc(100% - 19px) 100%, 19px 100%, 0% 50%);
}
.quick-tab-minisite .track .btn-close{
    position:absolute; top:-6px; left:-24px; cursor:pointer; transition:opacity .25s;
}
.quick-tab-minisite .track .btn-close:hover{opacity:.95;}
.quick-tab-minisite .track .btn-close > img{display:block; height:26px; width:auto;}
.quick-tab-minisite .quick{
    position:relative; display:block; width:72px; padding:0 4px;
    margin:0; transform:translateY(-16px);
}
.quick-tab-minisite .quick .icon img{display:block; width:52px; height:auto; margin:0 auto;}
.quick-tab-minisite .quick p, .quick-tab-minisite .quick-set p{
    width:100%; font-size:16px; font-weight:400; line-height:.9; color:#ffffff;
    text-align:center; margin:4px 0 0 0;
}
.quick-tab-minisite .quick-set{padding:0 8px; transform:translateY(-16px);}
.quick-tab-minisite .quick-set > .icons{
    position:relative; display:flex; align-items:center;
}
.quick-tab-minisite .quick-set .icon{margin:0 2px; transition:opacity .25s;}
.quick-tab-minisite .quick-set .icon:hover{opacity:.85;}
.quick-tab-minisite .quick-set .icon img{width:60px; margin:0;}
.quick-tab-minisite .quick-set .icon.sm img{width:28px;}
@media screen and (max-width:767.98px){
    .quick-tab-minisite .tab > .track{
        width:calc(100vw - 56px); bottom:unset; max-width:unset;
    }
    .quick-tab-minisite .track > .wrapper{flex-wrap:wrap; justify-content:center;}
    .quick-tab-minisite .track > .wrapper::before{
        clip-path:polygon(19px 0%, calc(100% - 19px) 0%, 100% 33px,
            100% calc(100% - 33px), calc(100% - 19px) 100%, 
            19px 100%, 0% calc(100% - 33px), 0% 33px);
    }
}


/* Tabs Minisite */
.tab-container .tabs.tabs-minisite{
    position:relative; width:100%; padding:0; min-height:38rem; overflow:hidden;
}
.tab-container .tabs.tabs-minisite > .img-hero{
    display:block; position:absolute; bottom:0; left:0; right:0; width:100%; height:auto;
}
.tab-container .tabs.tabs-minisite .tab{
    position:relative; width:100%; padding:.875rem; margin:0 0 1px 0;
    display:flex; align-items:center; transition:color .25s, background .25s;
}
.tab-container .tabs.tabs-minisite .tab > .icon{
    position:relative; width:1.5rem; height:1.5rem; margin:0 1.25rem 0 0;
    display:flex; align-items:center; justify-content:center;
}
.tab-container .tabs.tabs-minisite .tab > .icon > img{
    display:block; width:auto; max-width:100%; height:auto; max-height:100%;
}
.tab-container .tabs.tabs-minisite .tab::before{
    content:''; position:absolute; bottom:0; left:0; right:0; height:1px; opacity:.25;
}
.tab-container .tabs.tabs-minisite .tab.tab-main:last-child::before{display:none;}
.tab-container .tabs.tabs-minisite .tab-children{display:none;}
.tab-container .tabs.tabs-minisite .tab > .chev{
    position:absolute; top:0; bottom:0; right:.625rem; display:flex; align-items:center;
    font-size:1.5rem; transition:transform .25s;
}
.tab-container .tabs.tabs-minisite .tab.toggled > .chev{transform:rotate(-180deg);}
@media screen and (max-width:1199.98px){
    .tab-container .tabs.tabs-minisite{min-height:31rem;}
}
@media screen and (max-width:991.98px){
    .tab-container .tabs.tabs-minisite{min-height:0;}
    .tab-container .tabs.tabs-minisite > .img-hero{display:none;}
}


/* Tab Container 04 */
.tab-container-04.minisite .tabs{
    justify-content:center; border-top:1px solid transparent; border-bottom:1px solid transparent;
}
.tab-container-04.minisite .tab{
    border:1px solid transparent; border-top:0; border-left:0; margin:0 0 -1px 0;
}
.tab-container-04.minisite .tab:last-child{border-right:0;}
.tab-container-04.minisite .slide > .wrapper{padding:.625rem;}
.tab-container-04.minisite .slide .ss-card{transition:transform .45s;}
.tab-container-04.minisite .slide.slick-center .ss-card{transform:scale(1.05);}
.tab-container-04.minisite .bottom-container{position:relative; width:100%; text-align:center;}
.tab-container-04.minisite .arrows{
    position:absolute; top:0; bottom:0; right:0; display:flex; align-items:center;
    justify-content:flex-end;
}
.tab-container-04.minisite .arrows .arrow{
    display:flex; align-items:center; justify-content:center; pointer-events:all;
    width:2.5rem; height:2.1875rem; margin:0 0 0 .5rem; font-size:1.625rem;
    padding:0 0 .125rem 0;
}
@media screen and (max-width:991.98px){
    .tab-container-04.minisite .tab{margin:0;}
}
@media screen and (max-width:575.98px){
    .tab-container-04.minisite .bottom-container{
        display:flex; align-items:center; justify-content:space-between;
    }
    .tab-container-04.minisite .arrows{
        position:relative; top:unset; bottom:unset; right:unset;
    }
}
