/* Reset */
html, body{
    padding:0; margin:0; overflow-x:hidden; overflow-y:auto; font-family:'DB HEAVENT', sans-serif;
    font-size:16px; font-weight:300; line-height:1.1;
}
body.loading{height:100vh!important; overflow-y:hidden!important;}

*{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; outline:none;}

a{transition:opacity .25s, color .25s;}
a, a:hover{text-decoration:none;}
a.link{text-decoration:underline; font-weight:400;}
a.link:hover{color:#fff;}

img.img{display:block; width:100%; height:auto;}
.img-fill{background-size:cover; background-position:center; background-repeat:no-repeat;}
.fit{position:absolute; top:0; bottom:0; left:0; right:0;}

i.zmdi{transform:translateY(.0625rem);}
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], select, textarea, button{
    font-family:'DB HEAVENT', sans-serif;
}
@media screen and (max-width:991.98px){
    html.sidenav-opened, body.sidenav-opened{overflow-y:hidden!important;}
}


/* Section & Container */
.section-padding{padding:4rem 0;}
.section-bg{background-size:cover; background-position:center; background-repeat:no-repeat;}
@media screen and (max-width:991.98px){
    .section-padding{padding:3rem 0;}
}
@media screen and (max-width:575.98px){
    .section-padding{padding:2.5rem 0;}
}
@media screen and (min-width:578px){
    .container{padding-left:0; padding-right:0;}
}


/* Input */
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], select, textarea{
    border:1px solid transparent; border-radius:.25rem; box-shadow:none; outline:none;
    padding:.5rem .75rem; font-size:1rem; font-weight:300; margin:0; line-height:1.25;
    transition:border-color .3s;
}


/* Typography */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .p{margin:0; font-weight:300;}
h1, .h1{font-size:5.25rem; font-weight:600; line-height:.9;}
h2, .h2{font-size:4.5625rem; font-weight:600; line-height:1;}
h3, .h3{font-size:3rem; font-weight:200; margin:0 0 .25rem 0;}
h4, .h4{font-size:2.0625rem; font-weight:500;}
h5, .h5{font-size:1.625rem; font-weight:300;}
h6, .h6{font-size:1.5rem; font-weight:300;}
p, .p{font-size:1.315rem; font-weight:300;}


/* Buttons */
.btns{width:100%; margin:.5rem 0 0 0;}

.btn-icon{
    position:relative; display:inline-block; overflow:hidden; text-align:center;
    cursor:pointer; font-size:1rem;
}
.btn-icon.inactive{filter:grayscale(100%); opacity:.6;}
.btn-icon.inactive:hover{filter:grayscale(0%); opacity:1;}
.btn-icon.btn-icon-xs{width:1.25rem; height:1.25rem; line-height:1.5625rem;}
.btn-icon.btn-icon-sm{width:1.4375rem; height:1.4375rem; line-height:1.4375rem;}

.btn-action, .btn-action:focus, .btn-action:hover, .btn-action:active{
    display:inline-block; position:relative; border:1px solid transparent; border-radius:0;
    font-size:1.375rem; font-weight:300; padding:.25rem 2.5rem .25rem 1.5rem; overflow:hidden;
    white-space:nowrap; min-width:9.75rem; text-align:center;
}
.btn-action::before{
    content:''; position:absolute; top:0; bottom:0; right:0; width:1.75rem;
    clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%, 40% 50%); transition:transform .3s;
}
.btn-action:hover::before{transform:translateX(calc(1.75rem * .6));}

.btn-social{display:inline-block; width:2.3125rem; transition:opacity .25s;}
.btn-social:hover{opacity:.75;}
.btn-social > img{display:block; width:100%; height:auto;}

.btn-round{border-radius:1000em; padding-left:1.1875rem; padding-right:1.1875rem;}
.btn-hex{clip-path:polygon(50% 0%, 100% 22.5%, 100% 77.5%, 50% 100%, 0% 77.5%, 0% 22.5%);}


/* Hamburger */
.hamburger{cursor:pointer;}
.hamburger > *{width:2rem; height:.14rem; transition:all .5s;}
.hamburger > *:nth-child(2){margin:.375rem 0;}
.hamburger.active > *:nth-child(1){
    -webkit-transform:rotate(-45deg)translate(-.375rem, .375rem);
    transform:rotate(-45deg)translate(-.375rem, .375rem);
}
.hamburger.active > *:nth-child(2){opacity:0;}
.hamburger.active > *:nth-child(3){
    -webkit-transform:rotate(45deg)translate(-.375rem,-.375rem);
    transform:rotate(45deg)translate(-.375rem, -.375rem);
}


/* Slide Container */
.slide-container{position:relative; width:100%;}
.slide-container .arrows{
    position:absolute; top:0; bottom:0; left:0; right:0; display:flex; align-items:center;
    justify-content:space-between; pointer-events:none;  
}
.slide-container .arrows button{
    border:0; padding:0; background:none; box-shadow:none; font-size:0; pointer-events:all;
    outline:none; position:relative; transition:all .3s;
}
.slide-container .arrows button.slick-prev{padding:.5rem 1rem .5rem 0;}
.slide-container .arrows button.slick-next{padding:.5rem 0 .5rem 1rem;}
.slide-container .arrows button::before{
    font:normal normal normal 14px/1 'Material-Design-Iconic-Font'; font-size:3rem;
}
.slide-container .arrows button.slick-prev::before{content:'\f2fa';}
.slide-container .arrows button.slick-next::before{content:'\f2fb';}


/* Special List */
ul.ss-list{list-style:none; padding:0; margin:.25rem 0;}
ul.ss-list > li{
    font-size:1.3125rem; font-weight:400; position:relative; padding:.25rem 0 .25rem 1.125rem;
}
ul.ss-list.fw-200 > li{font-weight:200;}
ul.ss-list.fw-300 > li{font-weight:300;}
ul.ss-list > li:first-child{padding-top:0;}
ul.ss-list > li:last-child{padding-bottom:0;}
ul.ss-list > li::before{
    content:''; position:absolute; top:.75rem; left:0; width:.3125rem; height:.3125rem;
}
ul.ss-list > li:first-child::before{top:.5rem;}
ul.ss-list .btn-icon{position:absolute; margin-left:.75rem; transition:opacity .25s;}
ul.ss-list .btn-icon:hover{opacity:.8;}
ul.ss-list.ss-list-toggle ul.ss-list{display:none;}


/* Special Separation */
.ss-sep{display:block; width:100%; height:1px; margin:1.125rem 0;}


/* Utility */
.text-3xl{font-size:240%!important; line-height:.25;}
.text-2xl{font-size:160%!important; line-height:.25;}
.text-xl{font-size:128%!important;}
.text-lg{font-size:114%!important;}
.text-md{font-size:110%!important;}
.text-nm{font-size:1rem!important;}
.text-sm{font-size:90%!important;}
.text-xs{font-size:80%!important;}
.text-2xs{font-size:70%!important;}
.text-3xs{font-size:60%!important;}

.fw-100{font-weight:100!important;}
.fw-200{font-weight:200!important;}
.fw-300{font-weight:300!important;}
.fw-400{font-weight:400!important;}
.fw-500{font-weight:500!important;}
.fw-600{font-weight:600!important;}
.fw-700{font-weight:700!important;}
.fw-800{font-weight:800!important;}
.fw-900{font-weight:900!important;}

.op-100{opacity:1!important;} .op-0{opacity:0!important;}
.op-10{opacity:.1!important;} .op-20{opacity:.2!important;} .op-30{opacity:.3!important;}
.op-40{opacity:.4!important;} .op-50{opacity:.5!important;} .op-60{opacity:.6!important;}
.op-70{opacity:.7!important;} .op-80{opacity:.8!important;} .op-90{opacity:.9!important;}

.d-block{display:block!important;}
.d-flex{display:flex!important;}
.d-inline{display:inline!important;}
.d-inline-block{display:inline-block!important;}
.d-none{display:none!important;}

.jc-start{justify-content:flex-start!important;}
.jc-center{justify-content:center!important;}
.jc-end{justify-content:flex-end!important;}
.jc-space-between{justify-content:space-between!important;}
.jc-space-evenly{justify-content:space-evenly!important;}
.ai-center{align-items:center!important;}
.ai-start{align-items:flex-start!important;}
.ai-end{align-items:flex-end!important;}
.fw-wrap{flex-wrap:wrap!important;}

.width-auto{width:auto!important;}
.width-full{width:100%!important; max-width:100%!important;}
.height-auto{height:auto!important;}

.ws-nowrap, .ws-no-wrap{white-space:nowrap!important;}
.no-br > br{display:none;}

.no-border{border:0!important;}
.border{border:1px solid transparent!important;}
.border-top{border-top:1px solid transparent!important;}
.border-top-4{border-top:4px solid transparent!important;}
.border-bottom{border-bottom:1px solid transparent!important;}
.border-bottom-4{border-bottom:4px solid transparent!important;}

.no-bradius{border-radius:0!important;}
.no-padding{padding:0!important;}
.box-shadow{box-shadow:0px 5px 20px 10px rgba(0,0,0,.1);}

.ovf-hidden{overflow:hidden;}

@media screen and (max-width:1199.98px){
    .lg-no-br > br{display:none;}
}
@media screen and (max-width:991.98px){
    .md-no-br > br{display:none;}
}
@media screen and (max-width:767.98px){
    .sm-no-br > br{display:none;}
}
@media screen and (max-width:575.98px){
    .xs-no-br > br{display:none;}
}
