
/* Colors */
.color-blue{color:#6fcae5!important;}
.theme-1 .color-blue{color:#fff!important;}
.theme-2 .color-blue{color:#ffff00!important;}

.h-color-blue:hover{color:#6fcae5!important;}
.theme-1 .h-color-blue:hover{color:#fff!important;}
.theme-2 .h-color-blue:hover{color:#ffff00!important;}

.bg-color-blue{background:#6fcae5!important;}
.theme-1 .bg-color-blue{background:#fff!important;}
.theme-2 .bg-color-blue{background:#ffff00!important;}


/* Topnav */
nav.topnav > .top-container{padding:.375rem 0;}
.theme-1 nav.topnav > .top-container{background:#000!important;}
.theme-2 nav.topnav > .top-container{background:#000!important;}
nav.topnav > .top-container::after{display:none;}
nav.topnav > .bottom-container{background:#f7f7f7!important;}
nav.topnav > .bottom-container::after{display:none;}
nav.topnav .logo h1{font-size:1.25rem; color:#3e3e3e; -webkit-text-fill-color:unset;}
nav.topnav .logo h5{color:#3e3e3e; font-weight:200; margin:.3125rem 0 0 0;}
nav.topnav .menu-container{background:transparent;}
nav.topnav .menu::before{display:none;}
nav.topnav .menu::after, nav.topnav .menu-container::after{
    background:linear-gradient(to bottom, #e9e9e9, #a6a6a6, #a4a4a4);
}
nav.topnav .menu:not(.menu-icon):hover{background:#d7d7d7;}
nav.topnav .menu:not(.menu-icon) > a{color:#000;}
nav.topnav .menu > a::before{color:#8d509e!important; font-weight:500;}
nav.topnav .menu-mobile .hamburger > *{background:#3e3e3e;}

.theme-1 nav.topnav > .bottom-container{
    background:#000!important; border-top:1px solid #fff; border-bottom:1px solid #fff;
}
.theme-1 nav.topnav .logo h1, .theme-1 nav.topnav .logo h5{color:#fff;}
.theme-1 nav.topnav .menu::after, .theme-1 nav.topnav .menu-container::after{background:#fff;}
.theme-1 nav.topnav .menu:not(.menu-icon) > a, .theme-1 nav.topnav .menu > a::before{
    color:#fff!important;
}
.theme-1 nav.topnav .menu:not(.menu-icon):hover{background:#000;}
.theme-1 nav.topnav .menu-mobile .hamburger > *{background:#fff;}

.theme-2 nav.topnav > .bottom-container{
    background:#000!important; border-top:1px solid #ffff00; border-bottom:1px solid #ffff00;
}
.theme-2 nav.topnav .logo h1, .theme-2 nav.topnav .logo h5{color:#ffff00;}
.theme-2 nav.topnav .menu::after, .theme-2 nav.topnav .menu-container::after{background:#ffff00;}
.theme-2 nav.topnav .menu:not(.menu-icon) > a, .theme-2 nav.topnav .menu > a::before{
    color:#ffff00!important;
}
.theme-2 nav.topnav .menu:not(.menu-icon):hover{background:#000;}
.theme-2 nav.topnav .menu-mobile .hamburger > *{background:#ffff00;}


/* Buttons */
.btn.custom-btn-primary, .btn.custom-btn-primary:focus, 
.btn.custom-btn-primary:hover, .btn.custom-btn-primary:active{background:#350939;}
.btn.custom-btn-primary > i, .btn.custom-btn-primary:hover > i{color:#1f9ad3;}
.btn.custom-btn-primary, .btn.custom-btn-primary:focus, 
.btn.custom-btn-primary:hover, .btn.custom-btn-primary:active{background:#350939;}

.btn.custom-btn-secondary, .btn.custom-btn-secondary:focus, 
.btn.custom-btn-secondary:hover, .btn.custom-btn-secondary:active{background:#4f0d4f;}
.btn.custom-btn-secondary > i, .btn.custom-btn-secondary:hover > i{color:#1f9ad3;}

.btn.custom-btn-warning, .btn.custom-btn-warning:focus, 
.btn.custom-btn-warning:hover, .btn.custom-btn-warning:active{background:#1f9ad3;}
.btn.custom-btn-warning > i{color:#fff;}

.btn-action.btn-action-primary-02, .btn-action.btn-action-primary-02:focus{
    font-size:1.125rem; font-weight:300; padding:.4375rem .75rem .4375rem .5rem;
    border-radius:1000em; background:#63337e; color:#fff; 
}
.btn-action.btn-action-primary-02:hover{
    background:#63337e; color:#fff; box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);
}
.btn-action.btn-action-primary-02:active{
    background:#63337e; color:#fff; box-shadow:inset 0 0 0 100rem rgba(0,0,0,.20);
}
.btn-action.btn-action-primary-02 > i{background:#149fd9; color:#fff;}

.theme-1 .btn.custom-btn-primary, .theme-1 .btn.custom-btn-primary:focus,
.theme-1 .btn.custom-btn-secondary, .theme-1 .btn.custom-btn-secondary:focus,
.theme-1 .btn.custom-btn-warning, .theme-1 .btn.custom-btn-warning:focus,
.theme-1 .btn.custom-btn-dark, .theme-1 .btn.custom-btn-dark:focus.top-container,
.theme-1 .btn-action.btn-action-primary-02, .theme-1 .btn-action.btn-action-primary-02:focus{
    background:#fff; color:#000;
}
.theme-1 .btn.custom-btn-primary:hover, 
.theme-1 .btn.custom-btn-secondary:hover,
.theme-1 .btn.custom-btn-warning:hover,
.theme-1 .btn.custom-btn-dark:hover,
.theme-1 .btn-action.btn-action-primary-02:hover{
    background:#fff; color:#000; box-shadow:inset 0 0 0 100rem rgba(0,0,0,.05);
}
.theme-1 .btn.custom-btn-primary:active, 
.theme-1 .btn.custom-btn-secondary:active,
.theme-1 .btn.custom-btn-warning:active,
.theme-1 .btn.custom-btn-dark:active,
.theme-1 .btn-action.btn-action-primary-02:active{
    background:#fff; color:#000; box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);
}
.theme-1 .btn.custom-btn-primary > i, 
.theme-1 .btn.custom-btn-secondary > i,
.theme-1 .btn.custom-btn-warning > i,
.theme-1 .btn.custom-btn-dark > i{
    color:#fff;
}
.theme-1 .btn-action.btn-action-primary-02 > i{
    background:#000; color:#fff;
}

.theme-2 .btn.custom-btn-primary, .theme-2 .btn.custom-btn-primary:focus,
.theme-2 .btn.custom-btn-secondary, .theme-2 .btn.custom-btn-secondary:focus,
.theme-2 .btn.custom-btn-warning, .theme-2 .btn.custom-btn-warning:focus,
.theme-2 .btn.custom-btn-dark, .theme-2 .btn.custom-btn-dark:focus,
.theme-2 .btn-action.btn-action-primary-02, .theme-2 .btn-action.btn-action-primary-02:focus{
    background:#ffff00; color:#000;
}
.theme-2 .btn.custom-btn-primary:hover, 
.theme-2 .btn.custom-btn-secondary:hover,
.theme-2 .btn.custom-btn-warning:hover,
.theme-2 .btn.custom-btn-dark:hover,
.theme-2 .btn-action.btn-action-primary-02:hover{
    background:#ffff00; color:#000; box-shadow:inset 0 0 0 100rem rgba(0,0,0,.05);
}
.theme-2 .btn.custom-btn-primary:active, 
.theme-2 .btn.custom-btn-secondary:active,
.theme-2 .btn.custom-btn-warning:active,
.theme-2 .btn.custom-btn-dark:active,
.theme-2 .btn-action.btn-action-primary-02:active{
    background:#ffff00; color:#000; box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);
}
.theme-2 .btn.custom-btn-primary > i, 
.theme-2 .btn.custom-btn-secondary > i,
.theme-2 .btn.custom-btn-warning > i,
.theme-2 .btn.custom-btn-dark > i{
    color:#ffff00;
}
.theme-2 .btn-action.btn-action-primary-02 > i{
    background:#000; color:#ffff00;
}

.btn.custom-btn-theme-2, .btn.custom-btn-theme-2:focus{color:#1f9ad3;}


/* Pagination */
.pagination.pagination-02 .page-btn:hover, .pagination.pagination-02 .page-btn.active{
    border-color:#1f9ad3; background:#1f9ad3!important; color:#fff;
}
.theme-1 .pagination.pagination-02 .page-btn:hover, 
.theme-1 .pagination.pagination-02 .page-btn.active{
    border-color:#fff; background:#fff!important; color:#000;
}
.theme-2 .pagination.pagination-02 .page-btn:hover, 
.theme-2 .pagination.pagination-02 .page-btn.active{
    border-color:#ffff00; background:#ffff00!important; color:#000;
}


/* Menu Column */
.menu-column{margin:0 0 16rem 0;}
.menu-column > .menu-container{
    background-image:linear-gradient(to bottom, #612370, #5e1869, #5e1869);
}
@media screen and (max-width:1199.98px){
    .menu-column{margin:0 0 14rem 0;}
}
@media screen and (max-width:991.98px){
    .menu-column{margin:0;}
}


/* Table */
table.table.table-download{width:calc(100% - 2px);}
table.table.table-download th, table.table.table-download td{
    background:transparent; border-color:#dadada;
}
table.table.table-download tbody > tr.row-title > td{
    background:#f0f0f0; color:#000;
}
table.table.table-download th:first-child, table.table.table-download td:first-child{
    border-left:1px solid #dadada!important; 
}
table.table.table-download th:last-child, table.table.table-download td:last-child{
    border-right:1px solid #dadada!important; 
}
table.table.table-download tbody > tr.row-sep + tr > td{border-top:1px solid #dadada!important;}

.theme-1 table.table.table-download td{border-color:#fff;}
.theme-1 table.table.table-download tbody > tr.row-title > td{
    background:#fff; color:#000;
}
.theme-1 table.table.table-download th:first-child, 
.theme-1 table.table.table-download td:first-child{
    border-left:1px solid #fff!important; 
}
.theme-1 table.table.table-download th:last-child, 
.theme-1 table.table.table-download td:last-child{
    border-right:1px solid #fff!important; 
}
.theme-1 table.table.table-download tbody > tr.row-sep + tr > td{
    border-top:1px solid #fff!important;
}

.theme-2 table.table.table-download td{border-color:#ffff00;}
.theme-2 table.table.table-download tbody > tr.row-title > td{
    background:#ffff00; color:#000;
}
.theme-2 table.table.table-download th:first-child, 
.theme-2 table.table.table-download td:first-child{
    border-left:1px solid #ffff00!important; 
}
.theme-2 table.table.table-download th:last-child, 
.theme-2 table.table.table-download td:last-child{
    border-right:1px solid #ffff00!important; 
}
.theme-2 table.table.table-download tbody > tr.row-sep + tr > td{
    border-top:1px solid #ffff00!important;
}

table.table.table-download tbody > tr.row-sep > td{border:0!important;}


/* Banner 01 */
.banner-01 .dots{background:rgba(84,43,116,.5);}
.theme-1 .banner-01 .dots{background:#000;}
.theme-2 .banner-01 .dots{background:#000;}


/* Call to Action 02 */
.call-02{background:#5e3579;}
.call-02 .subject{transform:none; margin:1rem auto 1.75rem auto;}
.call-02 .call-text{color:#000; -webkit-text-fill-color:unset;}
.call-02 .call-text.desc.desc-lg{font-size:2.125rem; font-weight:600;}
.call-02 .slide-container{margin:2rem 0 0 0;}
.call-02 .slide-container .arrows > .slick-prev::before, 
.call-02 .slide-container .arrows > .slick-next::before{color:#262526;}
.theme-1 .call-02{background:transparent;}
.theme-1 .call-02 .call-text{color:#fff;}
.theme-1 .call-02 .slide-container .arrows > .slick-prev::before, 
.theme-1 .call-02 .slide-container .arrows > .slick-next::before{color:#fff;}
.theme-2 .call-02{background:transparent;}
.theme-2 .call-02 .call-text{color:#ffff00;}
.theme-2 .call-02 .slide-container .arrows > .slick-prev::before, 
.theme-2 .call-02 .slide-container .arrows > .slick-next::before{color:#ffff00;}


/* Content 01 */
.content-01{background:#5e3579;}
.content-01 > .content-header{background:#2f2d30;}
.content-01 > .content-header::after{background:transparent;}
.theme-1 .content-01{background:transparent;}
.theme-1 .content-01 > .content-header{background:#000;}
.theme-1 .content-01 > .content-header::after{background:#fff;}
.theme-2 .content-01{background:transparent;}
.theme-2 .content-01 > .content-header{background:#000;}
.theme-2 .content-01 > .content-header::after{background:#ffff00;}


/* Mission 01 */
.mission-01 ul > li::before{background:#6fcae5;}


/* Tab Container */
.tab-container.tab-container-01 .tab h5::before{background:#63347c!important;}
